.battlefield {
  position: relative;
  z-index: 1;

  display: flex;
  place-items: center;
  place-content: center;

  width: 100%;
  height: calc(100cqw - 36px);
  margin-top: 6px;
  margin-left: 12px;

  transform: rotate(45deg);
}
