.partners-list {
  display: flex;
  flex-flow: column;
  gap: 12px;

  padding: 8px;

  .partners-list-category {
    display: flex;
    flex-flow: column;
    gap: 4px;

    .partners-list-list {
      display: flex;
      flex-flow: column;
      gap: 2px;

      > .text {
        font-size: 12px;
      }

      .partners-list-partner {
        display: flex;
        place-items: center;
        gap: 6px;

        padding: 4px 6px 4px;

        background-color: var(--color-primary);
        border-radius: 4px;

        svg {
          width: 20px;
          height: 20px;
        }

        .partner-avatar {
          .portrait {
            width: 28px;
            min-width: 28px;
            padding: 2px;
            overflow: hidden;

            background-color: var(--color-primary-strong);
            border-radius: 4px;

            img {
              border-radius: 4px;
            }
          }
        }

        .partner-name {
          display: flex;
          flex-flow: column;
          place-items: flex-start;
          gap: 2px;

          flex: 1;

          .text {
            font-size: 12px;
          }
        }

        footer {
          display: flex;
          gap: 2px;

          .button {
            padding: 4px;

            svg {
              width: 16px;
              height: 16px;
            }
          }
        }
      }
    }
  }
}
