.player-profile {
  display: flex;
  flex-flow: column;
  gap: 8px;

  padding: 8px;

  .character-header {
    .player-avatar {
      .avatar-content {
        padding: 4px;

        background-color: var(--color-primary-strong);
        border-radius: 4px 4px 0 4px;
      }
    }

    .character-info {
      .character-name {
        .text {
          background-color: var(--color-primary-strong);
        }
      }
    }
  }

  .character-header .character-info {
    position: relative;

    flex-flow: column-reverse;

    padding: 4px;
    overflow: hidden;
    text-overflow: ellipsis;

    background-color: var(--color-primary-strong);

    .character-name .text {
      padding: 0;
    }

    > .text {
      &:before {
        content: '"';
      }

      &:after {
        content: '"';
      }

      font-size: 12px;
    }
  }
}
