.player-profile {
  display: flex;
  flex-flow: column;
  gap: 8px;

  .character-header {
    .player-avatar {
      .avatar-content {
        background-color: var(--color-primary-strong);
        border-color: var(--color-primary-strong);
        border-radius: 100% 100% 0 100%;
      }
    }

    .character-info {
      .character-name {
        .text {
          background-color: var(--color-primary-strong);
        }
      }
    }
  }

  .character-header .character-info {
    position: relative;

    flex-flow: column-reverse;

    padding: 4px;
    overflow: hidden;
    text-overflow: ellipsis;

    background-color: var(--color-primary-strong);
    border-radius: 0 8px 8px 0;

    .character-name .text {
      padding: 0;

      border-radius: 0;
    }

    > .text {
      &:before {
        content: '"';
      }

      &:after {
        content: '"';
      }

      font-size: 12px;
    }
  }
}
