.tile {
  display: flex;
  align-items: center;
  justify-content: center;

  aspect-ratio: 1;

  > div {
    border-radius: 100%;
    overflow: hidden;
  }

  > .player-character {
    width: 100%;
    border: 2px solid var(--color-secondary);
  }
}
