.tile {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  aspect-ratio: 1;

  &[data-tiletype='black'] {
    background-color: var(--color-neutral-strong);
  }

  &[data-tiletype='gray'] {
    background-color: var(--color-neutral);
  }

  &[data-tiletype='white'] {
    background-color: var(--color-neutral-weak);
  }

  &[data-tiletype='red'] {
    background-color: var(--color-cancel);
  }

  > div {
    border-radius: 100%;
    overflow: hidden;
  }

  > .player-character {
    width: 100%;
    border: 2px solid var(--color-secondary);
  }
}
