.tile {
  position: absolute;
  top: calc(var(--y) * var(--tile-size));
  left: calc(var(--x) * var(--tile-size));
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  width: var(--tile-size);
  height: var(--tile-size);

  > div {
    border-radius: 100%;
    overflow: hidden;
  }

  > .player-character {
    width: 100%;
    border: 2px solid var(--color-secondary);
  }
}
