.dialog {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-flow: column;
  place-content: flex-end;
  gap: 8px;

  width: 100%;
  height: 100%;
  padding: 8px 12px;

  .refresh-dialog {
    opacity: 0;
  }

  .dialog-speaker {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    display: flex;
    place-items: flex-end;
    place-content: flex-end;

    width: 100%;
    height: 100%;
    padding: 16px 0;

    transition: opacity 0.3s;

    .portrait {
      max-height: 200px;

      img {
        max-height: 100%;

        filter: drop-shadow(0 0 8px var(--color-neutral-strong));
      }
    }
  }

  .dialog-text {
    position: relative;
    z-index: 2;

    display: flex;
    flex-flow: column;
    gap: 8px;

    transition: opacity 0.3s;

    > header {
      display: flex;
      flex-flow: column;
      gap: 8px;

      padding: 0 48px;

      .text {
        text-shadow:
          1px 1px 4px var(--color-neutral-strong),
          1px 1px 4px var(--color-neutral-strong),
          1px 1px 4px var(--color-neutral-strong);

        &:first-child {
          font-size: 20px;
          letter-spacing: 1px;
        }
      }
    }

    .dialog-internal-text {
      display: flex;
      flex-flow: column;
      gap: 12px;

      padding: 8px 32px;

      background-image: linear-gradient(
        90deg,
        color-mix(in srgb, var(--color-neutral-strong) 0%, transparent) 0%,
        color-mix(in srgb, var(--color-neutral-strong) 70%, transparent) 15%,
        color-mix(in srgb, var(--color-neutral-strong) 70%, transparent) 50%,
        color-mix(in srgb, var(--color-neutral-strong) 70%, transparent) 85%,
        color-mix(in srgb, var(--color-neutral-strong) 0%, transparent) 100%
      );

      .text {
        font-size: 12px;
        text-shadow: 1px 1px 4px var(--color-neutral-strong);
      }
    }
  }

  .dialog-buttons {
    position: relative;
    z-index: 2;

    display: flex;
    place-content: flex-end;

    transition: opacity 0.3s;

    .button {
      padding: 4px 8px;

      box-shadow: 0 0 4px var(--color-neutral-strong);
    }
  }
}
