.full-picture {
  aspect-ratio: 1;
  overflow: hidden;

  > picture {
    display: flex;
    place-content: center;
    place-items: center;

    > img {
      max-width: 100%;
      aspect-ratio: 1;

      object-fit: cover;
      object-position: center;
    }
  }
}
