.game-file {
  display: flex;
  place-items: center;
  gap: 12px;

  padding: 8px;

  background-color: var(--color-primary);
  border-radius: 4px;

  .player-avatar {
    width: 48px;
    padding: 2px;
    overflow: hidden;

    background-color: var(--color-primary-strong);
    border-radius: 4px;
  }

  header {
    display: flex;
    flex-flow: column;
    gap: 4px;

    flex: 1;

    .text {
      line-height: var(--line-height-single);
    }
  }

  .game-options {
    display: flex;
    flex-flow: column;
    gap: 4px;

    .button {
      padding: 4px 8px;

      &:not(.cancel) {
        background-color: var(--color-secondary-strong);
      }
    }
  }
}
