.game-file {
  display: flex;
  place-items: center;
  gap: 4px;

  padding: 8px 8px 8px 16px;

  border-radius: 4px;
  background-color: var(--color-primary-weak);

  header {
    display: flex;
    flex-flow: column;
    gap: 4px;

    flex: 1;
  }

  .game-options {
    display: flex;
    flex-flow: column;
    gap: 4px;

    .button {
      padding: 4px 8px;
    }
  }
}
