.player-avatar {
  .avatar-layers {
    width: 100%;
    aspect-ratio: 1;
    overflow: hidden;

    position: relative;

    background-color: var(--color-neutral-weak);
    border-radius: 4px;

    > .portrait {
      position: absolute;
      left: 0;
      top: 0;

      width: 100%;
      height: 100%;
    }
  }
}
