.player-avatar {
  position: relative;

  width: 24px;
  aspect-ratio: 1;

  background-color: var(--color-neutral-weak);

  > .portrait {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
  }
}
