.compose {
  display: flex;
  flex-flow: column;
  gap: 8px;

  width: 100%;
  padding: 8px;

  background-color: var(--color-secondary);
  border-radius: 8px;

  > header {
    display: flex;
    place-items: center;
    place-content: space-between;

    padding: 8px;

    background-color: var(--color-secondary-weak);
    border-radius: 8px;

    .portrait {
      max-width: 32px;

      img {
        border-radius: 100%;
      }
    }
  }

  .compose-items {
    display: flex;
    flex-flow: column;
    gap: 8px;

    > div {
      display: flex;
      flex-flow: column;
      gap: 8px;

      padding: 8px;

      background-color: var(--color-secondary-weak);
      border-radius: 8px;
    }

    > div {
      > .text {
        font-size: 12px;
      }
    }

    .fill-bar {
      display: flex;
      place-items: center;
      gap: 8px;

      .bar {
        flex: 1;
        height: 8px;
        overflow: hidden;

        border-radius: 4px;
        background-color: var(--color-secondary-strong);

        > div {
          height: 8px;

          background-color: var(--color-primary-strong);
        }
      }
    }

    .fill-bar + .items-list {
      .item {
        .amount {
          width: 72px;
        }
      }
    }

    .items-list {
      display: flex;
      flex-flow: column;
      gap: 4px;

      .item {
        display: flex;
        place-items: center;
        place-content: space-between;
        gap: 8px;

        width: 100%;

        > aside {
          display: flex;
          place-items: center;
          gap: 4px;

          flex: 1;

          .item-description {
            display: flex;
            flex-flow: column;
            gap: 2px;

            flex: 1;

            padding: 4px;

            background-color: var(--color-secondary);
            border-radius: 8px;

            .text {
              font-size: 12px;
            }
          }
        }

        .amount {
          display: flex;
          place-items: center;
          place-content: space-between;
        }
      }
    }
  }

  .button {
    padding: 4px;

    svg {
      width: 16px;
      height: 16px;
    }
  }
}
