@media (orientation: landscape) {
  .screen-orientation-warning {
    display: none !important;
  }
}

.screen-orientation-warning {
  display: flex;
  flex-flow: column;
  gap: 24px;

  padding: 12px;

  h1 {
    text-align: center;
    font-size: 32px;
  }
}
