.character-header {
  display: flex;
  place-items: flex-end;

  .avatar-layers {
    .portrait img {
      border: 0;
    }
  }

  &:not([data-islg='true']) {
    .avatar-layers {
      max-width: 50px;
      min-width: 50px;
    }

    .portrait {
      max-width: 50px;
      min-width: 50px;
    }

    > .portrait {
      max-width: 58px;
      min-width: 58px;
    }
  }

  &[data-islg='true'] {
    .avatar-layers {
      max-width: 72px;
      min-width: 72px;
    }

    .portrait {
      max-width: 72px;
      min-width: 72px;
    }

    > .portrait {
      max-width: 80px;
      min-width: 80px;
    }
  }

  &:not([data-isplayer='true']) {
    position: relative;

    .portrait {
      background-color: var(--color-secondary-strong);
    }
  }

  &[data-isplayer='true'] {
    .avatar-content {
      background-color: var(--color-secondary-strong);
      border-radius: 4px;
    }

    .player-avatar .avatar-content > .portrait {
      img {
        border: 0;
      }
    }
  }

  .player-avatar {
    z-index: 2;
  }

  .portrait {
    z-index: 2;

    display: flex;

    border-radius: 4px;

    img {
      border-radius: 4px;
    }
  }

  .character-info {
    display: flex;
    flex-flow: column;
    gap: 4px;

    width: calc(100% - 38px);

    .character-name {
      display: flex;

      .text {
        position: relative;
        z-index: 1;

        max-width: 100%;
        padding: 4px 8px 4px 4px;
        overflow: hidden;
        text-overflow: ellipsis;

        background-color: var(--color-secondary-strong);
        border-radius: 0 4px 4px 0;
      }
    }
  }
}
