.battle-party-item-card {
  transition: opacity 0.3s;

  &.active {
    background-color: var(--color-currentTurn);
  }

  &:not(.active) {
    background-color: var(--color-primary-darker);
  }

  &.defeated {
    opacity: 0.3;
  }

  > main {
    display: flex;
    place-items: center;
    gap: var(--size-sm);

    padding: var(--size-sm);
    flex: 1;

    > aside {
      display: flex;
      flex-flow: column;
      gap: var(--size-xs);

      flex: 1;
    }
  }
}
