.scene {
  position: absolute;
  top: calc(100cqw - 40px);
  z-index: 104;

  width: 100%;
  padding: 8px 8px 12px;

  &[data-isdigiviceopen='true'] {
    top: auto;
    bottom: 0;

    padding: 20px;
  }

  &[data-isinbattle='true'] {
    top: auto;
    bottom: 0;
  }
}

.dialog {
  position: relative;
  z-index: 101;

  display: flex;
  flex-flow: column;

  width: 100%;

  .character-header {
    > .portrait {
      padding: 4px;
      border-radius: 12px 12px 0 0;
      box-shadow: 0 0 8px var(--color-neutral-strong);
    }

    .avatar-content {
      padding: 4px;

      background-color: var(--color-secondary-strong);
      border-radius: 12px 12px 0 0;
      box-shadow: 0 0 8px var(--color-neutral-strong);
    }

    .character-info {
      .character-name {
        .text {
          padding: 2px 4px 2px 6px;

          border-radius: 0 8px 0 0;
          box-shadow: 0 0 8px var(--color-neutral-strong);
        }
      }
    }
  }

  > header + main {
    margin-top: 0;

    border-radius: 0 12px 12px 12px;
  }

  > main {
    position: relative;
    z-index: 2;

    display: flex;
    gap: 4px;

    margin-top: 40px;

    background-color: var(--color-secondary-strong);
    box-shadow: 0 0 8px var(--color-neutral-strong);
    border-radius: 12px;

    padding: 4px;

    > .player-avatar {
      width: 80px;

      img {
        border-radius: 12px;
      }
    }

    > .portrait {
      width: 120px;

      img {
        border-radius: 12px;
      }
    }

    .npc-dialogs {
      flex: 1;
    }

    .text-bubble {
      display: flex;
      flex-flow: column;
      gap: 8px;

      flex: 1;
      padding: 4px 6px;
      max-height: 228px;
      overflow: auto;

      background-color: var(--color-secondary);
      border-radius: 8px;
    }

    .dialog-with-reactions {
      display: flex;
      flex-flow: column;
      gap: 4px;

      width: 100%;

      .dialog-reactions {
        display: flex;
        flex-flow: column;

        .button {
          place-content: flex-start;
          padding: 2px 4px;
          gap: 8px;

          background-color: transparent;

          text-align: left;

          svg {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }

  > footer {
    display: flex;
    place-content: flex-end;
    flex-wrap: wrap;
    gap: 8px;

    padding-top: 8px;

    .button {
      padding: 4px 6px;
    }
  }
}
