.saved-games {
  display: flex;
  flex-flow: column;
  gap: 8px;

  > header {
    display: flex;
    place-items: center;
    place-content: space-between;

    padding: 0 16px 0 12px;

    > .text {
      text-shadow:
        2px 2px 4px var(--color-neutral-strong),
        2px 2px 4px var(--color-neutral-strong);
    }

    > .button {
      padding: 4px 8px;

      box-shadow: 0 0 4px var(--color-neutral-strong);
    }
  }

  .games-list {
    display: flex;
    flex-flow: column;
    gap: 1px;
  }
}
