.combat-log {
  display: flex;
  flex-flow: column;
  gap: 8px;

  max-height: calc(100cqh - 508px);
  padding: 8px;
  overflow: auto;

  background-color: var(--color-secondary-strong);

  > .text {
    font-size: 20px;
  }

  .log-entry {
    display: flex;
    flex-flow: column;
    gap: 12px;

    padding: 4px 8px;

    background-color: var(--color-secondary);
  }
}
