.game-file-save {
  display: flex;
  place-items: center;
  gap: 6px;

  padding: 4px;

  background-color: var(--color-secondary);
  border-radius: 12px;

  .player-avatar {
    width: 128px;
    padding: 2px;
    overflow: hidden;

    background-color: var(--color-primary-strong);
    border-radius: 12px;
  }

  header {
    display: flex;
    flex-flow: column;
    gap: 4px;

    flex: 1;

    .text {
      line-height: var(--line-height-single);
    }

    .text:not(:first-child) {
      font-size: 12px;
    }
  }

  .game-options {
    display: flex;
    flex-flow: column;
    gap: 4px;

    .button {
      padding: 4px 6px;
    }
  }
}
