.current-party {
  max-height: calc(100cqw - 16px - 40px);
  padding-right: 8px;
  overflow: auto;
  flex: 1;

  .party-digimons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;

    > div {
      position: relative;

      display: flex;
      flex-flow: column;

      > main {
        display: flex;
        place-items: flex-end;

        .portrait {
          width: 64px;
          aspect-ratio: auto;

          img {
            width: 64px;

            border: 3px solid var(--color-primary-strong);
            border-right-color: transparent;
            border-radius: 4px 4px 0 0;
          }
        }

        > main {
          display: flex;
          flex-flow: column;
          gap: 8px;

          flex: 1;
          padding: 4px;
          margin-left: -3px;

          border: 3px solid var(--color-primary-strong);
          background-color: var(--color-primary);
          border-radius: 4px 4px 4px 0;
        }
      }

      > footer {
        display: flex;

        .text {
          padding: 1px 4px 4px;

          background-color: var(--color-primary-strong);
          border-radius: 0 0 4px 4px;

          font-weight: 500;
        }
      }
    }
  }
}
