.current-party {
  max-height: calc(100cqh - 16px - 40px);
  padding: 8px;
  overflow: auto;

  .party-digimons {
    display: flex;
    flex-flow: column;
    gap: 4px;

    .character-header {
      .character-info {
        flex-direction: column-reverse;
      }

      .portrait {
        padding: 4px;
        background-color: var(--color-primary-strong);
        border-radius: 12px 0 12px 12px;
      }
    }
  }
}
