.battle-party {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;

  .party-member {
    &[data-defeated='true'] {
      opacity: 0.25;
    }

    &[data-currentturn='true'] {
      .portrait {
        background-color: var(--color-primary-strong);

        img {
          border: 2px solid var(--color-primary-strong);
        }
      }

      > header > div .character-name .text {
        background-color: var(--color-primary-strong);
      }
    }

    &:not([data-currentturn='true']) {
      .portrait {
        background-color: var(--color-primary-weak);

        img {
          border: 2px solid var(--color-primary-weak);
        }
      }

      > header > div .character-name .text {
        background-color: var(--color-primary-weak);
      }
    }
  }

  .character-header {
    .portrait {
      max-width: 24px;
      min-width: 24px;

      border-radius: 100% 0 0 100%;
    }

    .resources {
      display: flex;
      flex-flow: column;
      gap: 6px;

      margin-left: -22px;

      .resource-bar {
        position: relative;

        display: flex;
        place-items: center;

        > .text {
          position: absolute;
          top: -6px;

          width: 100%;
          padding: 0 4px;

          font-size: 12px;
          text-shadow: 0 0 4px var(--color-neutral-strong);
        }

        &:after {
          content: '';

          width: var(--fill);
          height: 8px;

          border-radius: 4px;
        }

        &:nth-child(1) {
          &:after {
            background-color: var(--color-hp);
          }
        }

        &:nth-child(2) {
          &:after {
            background-color: var(--color-sp);
          }
        }
      }
    }
  }
}
