.battle-party {
  display: flex;
  flex-flow: column;
  gap: 16px;

  .party-member {
    &[data-defeated='true'] {
      opacity: 0.25;
    }

    &[data-currentturn='true'] {
      .portrait {
        border: 2px solid var(--color-secondary);
      }

      > header > div .digimon-name .text {
        background-color: var(--color-secondary);
      }
    }
  }

  .character-header {
    .resources {
      display: flex;
      flex-flow: column;
      gap: 4px;

      padding-left: 16px;

      .resource-bar {
        position: relative;

        display: flex;
        place-items: center;

        > .text {
          position: absolute;

          width: 100%;
          padding: 0 4px;

          font-size: 12px;
          text-align: right;
        }

        &:after {
          content: '';

          width: var(--fill);
          height: 8px;

          border-radius: 4px;
        }

        &:nth-child(1) {
          &:after {
            background-color: var(--color-hp);
          }
        }

        &:nth-child(2) {
          &:after {
            background-color: var(--color-sp);
          }
        }
      }
    }
  }
}
