.battle-party {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;

  .party-member {
    &[data-defeated='true'] {
      opacity: 0.25;
    }

    &[data-currentturn='true'] {
      .portrait {
        background-color: var(--color-primary-strong);

        img {
          border: 2px solid var(--color-primary-strong);
        }
      }

      > header > div .character-name .text {
        background-color: var(--color-primary-strong);
      }
    }

    &:not([data-currentturn='true']) {
      .portrait {
        background-color: var(--color-primary-weak);

        img {
          border: 2px solid var(--color-primary-weak);
        }
      }

      > header > div .character-name .text {
        background-color: var(--color-primary-weak);
      }
    }
  }

  .character-header {
    .conditions {
      display: flex;
      flex-flow: column;
      gap: 2px;

      padding-left: 4px;

      .text {
        font-size: 12px;
      }
    }
  }
}
