# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.*

# Dependencies
node_modules/

# Build
build/
dist/

# Vercel
.vercel/

# TypeScript
*.tsbuildinfo

# Archives
*.zip
*.rar
*.7z

# Logs
*.log

# IDEs
.vscode/
.idea/