.scene {
  .modal {
    top: auto;
    bottom: 0;

    .dialog {
      position: relative;
      z-index: 101;

      display: flex;
      flex-flow: column;

      width: 100%;

      > header + main {
        border-radius: 0 8px 8px 8px;
      }

      > header {
        display: flex;
        place-items: flex-end;

        position: relative;

        > .portrait {
          position: relative;
          z-index: 2;

          max-width: 58px;
          padding: 2px;

          border-radius: 100%;
          border: 2px solid var(--color-secondary);

          img {
            border-radius: 100%;
          }
        }

        .player-avatar {
          position: relative;
          z-index: 2;

          max-width: 58px;
          padding: 2px;

          border-radius: 100%;
          border: 2px solid var(--color-secondary);

          img {
            border-radius: 100%;
          }
        }

        .text {
          position: absolute;
          left: 0;
          bottom: 0;
          z-index: 1;

          padding: 4px 8px;

          background-color: var(--color-secondary);
          border-radius: 8px 8px 0 0;
        }

        :is(.portrait, .player-avatar) + .text {
          padding-left: 58px;
        }
      }

      > main {
        display: flex;
        flex-flow: column;
        gap: 16px;

        background-color: var(--color-secondary);
        border-radius: 8px;

        max-height: calc(100dvh - 240px);
        overflow: auto;

        padding: 8px;

        > .portrait {
          img {
            width: 100%;
          }
        }

        .dialog-reactions {
          display: flex;
          flex-flow: column;
          gap: 4px;

          .button {
            gap: 4px;

            background-color: transparent;

            svg {
              width: 24px;
              height: 24px;
            }
          }
        }
      }

      > footer {
        display: flex;
        place-content: flex-end;
        flex-wrap: wrap;
        gap: 8px;

        padding-top: 8px;

        .button {
          padding: 4px 8px;
        }
      }
    }
  }
}
