.scene {
  position: absolute;
  bottom: 0;
  z-index: 104;

  width: 100%;
  padding: 8px;

  &[data-isdigiviceopen='true'] {
    padding: 20px;
  }
}

.dialog {
  position: relative;
  z-index: 101;

  display: flex;
  flex-flow: column;

  width: 100%;

  .character-header {
    .portrait {
      padding: 4px;
      border-radius: 4px 4px 0 0;
    }

    .character-info {
      .character-name {
        .text {
          border-radius: 0 4px 0 0;
        }
      }
    }
  }

  > main {
    display: flex;
    gap: 8px;

    background-color: var(--color-secondary-strong);
    border-radius: 0 4px 4px 4px;

    padding: 8px;

    > .player-avatar {
      width: 80px;
    }

    > .portrait {
      width: 80px;
    }

    .npc-dialogs {
      flex: 1;
    }

    .text-bubble {
      flex: 1;
      padding: 4px 8px;
      max-height: 228px;
      overflow: auto;

      background-color: var(--color-secondary);
      border-radius: 4px;
    }

    .dialog-with-reactions {
      display: flex;
      flex-flow: column;
      gap: 12px;

      width: 100%;

      .dialog-reactions {
        display: flex;
        flex-flow: column;
        gap: 4px;

        .button {
          place-content: flex-start;
          padding: 4px 8px;
          gap: 8px;

          background-color: var(--color-secondary);

          text-align: left;

          svg {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }

  > footer {
    display: flex;
    place-content: flex-end;
    flex-wrap: wrap;
    gap: 8px;

    padding-top: 8px;

    .button {
      padding: 4px 8px;

      background-color: var(--color-secondary-strong);
    }
  }
}
