.partner-details {
  display: flex;
  flex-flow: column;
  gap: 12px;

  padding: 0 8px 8px;

  > .text {
    padding: 8px;

    font-size: 12px;

    background-color: var(--color-primary-strong);
  }

  .partner-header {
    position: sticky;
    top: 40px;
    left: 0;
    z-index: 103;

    padding: 8px 0;

    background-color: var(--color-primary-weak);

    .character-header {
      .portrait {
        padding: 4px;

        background-color: var(--color-primary-strong);
        border-radius: 12px 12px 0 12px;

        img {
          border-radius: 12px;
        }
      }

      .character-info {
        border-radius: 0 12px 12px 0;

        .character-name {
          .text {
            background-color: var(--color-primary-strong);
          }
        }
      }
    }

    > .partner-actions {
      position: absolute;
      right: 0;
      top: 8px;

      display: flex;
      gap: 4px;

      > .button {
        padding: 4px;

        svg {
          width: 20px;
          height: 20px;
        }
      }
    }

    .character-header {
      .character-info {
        position: relative;

        flex-flow: column-reverse;

        padding: 4px;
        overflow: hidden;
        text-overflow: ellipsis;

        background-color: var(--color-primary-strong);

        .character-name .text {
          padding: 0;
        }

        > .text {
          font-size: 12px;
        }
      }
    }
  }

  > main {
    display: flex;
    flex-flow: column;
    gap: 12px;

    > section {
      display: flex;
      flex-flow: column;

      > header {
        display: flex;

        .text {
          padding: 4px;

          background-color: var(--color-primary-strong);
          border-radius: 8px 8px 0 0;
        }
      }

      > main {
        padding: 4px;

        background-color: var(--color-primary-strong);
        border-radius: 0 12px 12px 12px;
      }
    }
  }
}
