.item-display {
  display: flex;
  place-items: center;
  gap: 4px;

  > .portrait {
    max-width: 32px;
    padding: 2px;
    overflow: hidden;

    background-color: var(--color-primary-strong);
    border-radius: 12px;

    img {
      border-radius: 12px;
    }
  }

  > .text {
    display: flex;
    place-items: center;
    gap: 4px;

    flex: 1;

    font-size: 12px;

    > div {
      border-radius: 8px;

      &:first-child {
        flex: 1;
        padding: 8px;

        background-color: var(--color-secondary);
      }

      &:last-child {
        display: flex;
        place-items: center;
        place-content: center;

        height: 28px;
        padding: 0 8px;

        background-color: var(--color-secondary-strong);
      }
    }
  }
}

.digivice {
  .item-display {
    > .portrait {
      padding: 2px;

      background-color: var(--color-primary-strong);
    }

    .text {
      > div {
        &:first-child {
          background-color: var(--color-primary);
        }

        &:last-child {
          background-color: var(--color-primary-strong);
        }
      }
    }
  }
}
