.compose-digimon-template {
  display: flex;
  flex-flow: column;
  gap: var(--size-lg);

  width: 100%;
  padding: var(--size-lg);

  .compose-digimon-header {
    display: flex;
    flex-flow: column;
    gap: var(--size-md);
  }

  > main {
    display: flex;
    flex-flow: column;
    gap: var(--size-lmd);

    > section {
      > ul {
        display: flex;
        flex-flow: column;
        gap: var(--size-sm);

        > li {
          display: flex;
          place-items: center;
          gap: var(--size-md);

          > img {
            max-width: var(--size-xl);
          }

          > section {
            flex: 1;
            max-width: var(--home-party-digimon-card-size);
          }
        }
      }
    }
  }
}
