.compose-digimon-template {
  display: flex;
  flex-flow: column;
  gap: var(--size-lg);

  width: 100%;
  padding: var(--size-lg);

  .compose-digimon-header {
    display: flex;
    flex-flow: column;
    gap: var(--size-md);
  }

  > main {
    display: flex;
    flex-flow: column;
    gap: var(--size-md);

    > .compose-digimon-recipes {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: var(--size-lmd);
    }
  }
}
