.compose-digimon-template {
  display: flex;
  flex-flow: column;
  gap: var(--size-lg);

  width: 100%;
  padding: var(--size-lg);

  .compose-digimon-header {
    display: flex;
    flex-flow: column;
    gap: var(--size-md);
  }

  > main {
    display: flex;
    flex-flow: column;
    gap: var(--size-md);

    > main {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: var(--size-lmd);

      > ul {
        display: flex;
        flex-flow: column;
        gap: var(--size-smd);

        padding: var(--size-smd);

        background-color: var(--digimon-card-background);
        border-radius: var(--size-md);

        > li {
          display: flex;
          place-items: center;
          gap: var(--size-smd);

          aside {
            > img {
              max-width: var(--size-xl);

              border: 2px solid var(--exp-bar-background);
            }
          }

          > main {
            flex: 1;
            max-width: var(--home-party-digimon-card-size);

            .resource-bar {
              .resource-bar-background {
                background-color: var(--exp-bar-background);
              }
            }
          }

          > button {
            flex: 1;
          }
        }
      }
    }
  }
}
