.compose-digimon-template {
  display: flex;
  flex-flow: column;
  gap: var(--size-lg);

  width: 100%;
  padding: var(--size-lg);

  .compose-digimon-header {
    display: flex;
    flex-flow: column;
    gap: var(--size-md);
  }

  > main {
    display: flex;
    flex-flow: column;
    gap: var(--size-md);

    > .compose-digimon-recipes {
      display: flex;
      flex-wrap: wrap;
      gap: var(--size-lmd);

      .composition-recipe {
        width: var(--party-digimon-card-size);
      }
    }
  }
}
