.gameboard-character {
  position: absolute;
  top: calc((var(--tile-size) * var(--character-y)));
  left: calc((var(--tile-size) * var(--character-x)));

  display: flex;
  flex-flow: column;
  place-items: center;
  place-content: center;

  padding: 2px;

  opacity: var(--character-opacity);

  transition:
    top 0.3s linear,
    left 0.3s linear,
    opacity 0.3s linear;

  > div {
    overflow: hidden;

    width: calc(var(--tile-size) - 8px);
    height: calc(var(--tile-size) - 8px);

    border: 3px solid var(--color-primary-strong);
    border-radius: 4px;

    img,
    .avatar-layers {
      border-radius: 0;
    }
  }

  > .text {
    position: absolute;
    z-index: 1;
    top: -6px;
    left: 4px;

    padding: 2px 4px;

    background-color: var(--color-primary-strong);
    border-radius: 4px;
  }
}
