.digimon-stats {
  > main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4px;

    .stat {
      display: flex;
      flex-flow: column;
      place-items: center;
      place-content: center;

      background-color: var(--color-primary);
      border-radius: 12px;

      padding: 8px 0;

      .text {
        font-size: 12px;
      }
    }
  }
}
