.typography {
  line-height: var(--line-height-single);

  &:is(h1) {
    font-size: var(--size-lg);
    font-weight: var(--font-weight-bold);
  }

  &:is(h2) {
    font-size: var(--size-lmd);
    font-weight: var(--font-weight-bold);
  }

  &:is(span) {
    font-size: var(--size-md);
  }

  &:is(p) {
    font-size: var(--size-md);
    line-height: var(--line-height-md);
  }
}
