.avatar-customization-options {
  display: flex;
  flex-flow: column;
  gap: 8px;

  flex: 1;

  > header {
    .text {
      font-size: 20px;
    }
  }

  .customization-options {
    flex: 1;
    min-height: calc(100vh - 264px);
    max-height: calc(100vh - 264px);
    overflow: auto;

    > div {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 8px;
    }

    .button {
      width: 100%;
      padding: 2px;

      border-radius: 4px;
      background-color: var(--color-neutral-weak);

      .player-avatar {
        width: 100%;

        .avatar-layers {
          border-radius: 0;
        }
      }
    }
  }

  .customization-back {
    display: flex;
    place-content: flex-end;
  }
}
