.avatar-customization-options {
  display: flex;
  flex-flow: column;
  gap: 8px;

  .customization-options {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 8px;

    flex: 1;

    .button {
      width: 100%;
      padding: 2px;

      border-radius: 4px;
      background-color: var(--color-neutral-weak);
    }
  }

  .customization-back {
    display: flex;
    place-content: flex-end;
  }
}
