.collection-template {
  display: flex;
  flex-flow: column;
  gap: var(--size-lg);

  width: 100%;
  padding: var(--size-lg);

  .digimon-details {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;

    display: flex;
    place-items: center;
    place-content: center;

    width: 100%;
    height: 100vh;
    padding: var(--size-smd);

    background-color: var(--modal-background);
    backdrop-filter: blur(var(--size-xs));

    .details-body {
      display: flex;
      flex-flow: column;
      gap: var(--size-md);

      width: var(--digimon-details-size);
      padding: var(--size-md);

      background-color: var(--digimon-card-background);
      border-radius: var(--size-md);

      > main {
        display: flex;
        gap: var(--size-md);
      }

      .digimon-picture {
        max-width: var(--digimon-details-picture-size);
        max-height: var(--digimon-details-picture-size);
        overflow: hidden;

        border-radius: var(--size-smd);
      }

      .digimon-info {
        display: flex;
        flex-flow: column;
        gap: var(--size-smd);

        flex: 1;

        > ul {
          display: flex;
          flex-flow: column;
          gap: var(--size-smd);

          > li {
            display: flex;
            flex-flow: column;
            gap: var(--size-xs);
          }

          .digimon-name {
            display: flex;
            place-content: space-between;

            .button {
              display: flex;
              place-items: center;
              place-content: center;

              aspect-ratio: 1;
              padding: 0;

              svg {
                width: var(--size-md);
                height: var(--size-md);
              }
            }
          }

          .digimon-attribute {
            display: flex;
            flex-flow: column;
            gap: var(--size-xs);

            .attribute-item {
              display: flex;
              place-items: center;
              gap: var(--size-xs);

              .icon {
                max-width: var(--size-lmd);

                > img {
                  max-width: 100%;
                }
              }
            }
          }

          .digimon-families {
            display: flex;
            flex-flow: column;
            gap: var(--size-xs);

            .family-item {
              display: flex;
              place-items: center;
              gap: var(--size-xs);

              .icon {
                max-width: var(--size-lmd);

                > img {
                  max-width: 100%;
                }
              }
            }
          }

          .digimon-stats {
            display: flex;
            flex-flow: column;
            gap: var(--size-sm);

            > ul {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              gap: var(--size-xs);

              > li {
                display: flex;
                place-items: center;
                gap: var(--size-xs);

                svg {
                  width: var(--size-lmd);
                  height: var(--size-lmd);
                }
              }
            }
          }
        }
      }
    }

    & + section {
      max-height: calc(100vh - var(--size-lg) * 2);
      overflow: hidden;
    }
  }

  > section {
    display: flex;
    flex-flow: column;
    gap: var(--size-lg);

    .collection-header {
      display: flex;
      flex-flow: column;
      gap: var(--size-smd);
    }

    .collection-list {
      display: flex;
      flex-flow: column;
      gap: var(--size-smd);

      > .partners-list {
        display: flex;
        flex-wrap: wrap;
        gap: var(--size-lmd);
      }
    }
  }
}
