.collection-template {
  display: flex;
  flex-flow: column;
  gap: var(--size-lg);

  width: 100%;
  padding: var(--size-lg);

  > .partners-list {
    display: flex;
    gap: var(--size-lmd);
  }
}
