.locations {
  display: flex;
  flex-flow: column;
  gap: 8px;

  padding: 8px;

  .locations-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;

    .button {
      flex-flow: column;
      gap: 4px;

      background-color: transparent;

      &:hover {
        background-color: transparent;
      }

      .portrait {
        width: 100%;
        padding: 4px;

        background-color: var(--color-primary-strong);
        border-radius: 4px;
      }

      .text {
        padding: 2px 4px;

        font-size: 12px;

        background-color: var(--color-primary-strong);
        border-radius: 4px;
      }
    }
  }
}
