.npc-dialog {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  display: flex;
  place-content: center;
  place-items: flex-end;

  width: 100%;
  height: 100%;
  padding: var(--size-xl);

  background-color: var(--modal-background);

  &:before {
    content: '';

    width: var(--npc-modal-picture-size);
  }

  .npc-text {
    display: flex;
    flex-flow: column;
    place-items: flex-end;
    gap: var(--size-sm);

    flex: 1;
    padding: 0 var(--size-lg);

    .npc-text-content {
      display: flex;
      flex-flow: column;
      gap: var(--size-sm);

      padding: var(--size-md);

      background-color: var(--npc-modal-text-background);
      border-radius: var(--size-md);

      > p {
        white-space: pre;
      }

      .quest-description {
        display: flex;
        flex-flow: column;
        gap: var(--size-sm);

        width: var(--npc-modal-quests-size);
        padding: var(--size-md);

        background-color: var(--party-item-card-background);
        border-radius: var(--size-md);

        .accept-quest {
          padding-top: var(--size-lmd);
        }
      }

      .npc-interaction {
        .button {
          gap: var(--size-sm);
        }
      }
    }

    .npc-actions {
      display: flex;
      place-content: flex-end;
      gap: var(--size-sm);
    }
  }

  .npc-picture {
    display: flex;
    flex-flow: column;
    gap: var(--size-smd);

    width: var(--npc-modal-picture-size);
  }

  & + * {
    overflow: hidden;
    max-height: 100vh;
  }
}
