.battlefield {
  width: 100%;
  padding-top: 40px;
  flex: 1;

  .combat-log {
    display: flex;
    flex-flow: column;
    gap: 12px;

    max-height: calc(100vh - 200px);
    padding: 12px;
    overflow: auto;

    > .text {
      font-size: 20px;
    }

    .log-entry {
      padding: 12px;

      background-color: var(--color-secondary-strong);
      border-radius: 12px;
    }
  }

  .loot {
    display: flex;
    flex-flow: column;
    gap: 12px;

    max-height: calc(100vh - 200px);
    padding: 12px;
    overflow: auto;

    > .text {
      font-size: 20px;
    }

    .loot-item {
      display: flex;
      place-items: center;
      gap: 8px;

      padding: 12px;

      background-color: var(--color-secondary-strong);
      border-radius: 12px;

      .core-item {
        position: relative;

        width: 40px;
        height: 40px;

        > .portrait {
          position: absolute;
        }

        > .portrait:nth-child(1) {
          top: 0;
          left: 0;
          z-index: 2;

          width: 40px;
        }

        > .portrait:nth-child(2) {
          top: 6px;
          left: 6px;
          z-index: 1;

          width: 28px;
        }
      }
    }
  }

  .digimon-parties {
    display: flex;

    width: 100%;
    padding: 8px;

    > div {
      display: flex;
      flex-flow: column;
      gap: 8px;

      width: 50%;

      &:nth-child(1) {
        padding-right: 16px;
      }
      &:nth-child(2) {
        padding-left: 16px;
      }

      > header > .text {
        font-size: 20px;
      }
    }
  }
}
