.start-screen {
  display: flex;
  flex-flow: column;
  gap: 48px;

  width: 100%;
  padding: 24px 8px;

  > header {
    display: flex;
    flex-flow: column;
    place-items: center;
    place-content: center;
    gap: 12px;

    .portrait {
      width: 160px;

      img {
        aspect-ratio: auto;
      }
    }

    .text {
      font-size: 32px;
      font-weight: 300;
      text-align: center;
      line-height: var(--line-height-sm);
    }
  }

  > main {
    display: flex;
    flex-flow: column;
    gap: 32px;

    .saved-games {
      display: flex;
      flex-flow: column;
      gap: 8px;

      .games-list {
        display: flex;
        flex-flow: column;
        gap: 8px;
      }
    }
  }
}
