.start-screen {
  display: flex;
  flex-flow: column;
  gap: 24px;

  width: 100%;
  padding: 8px;

  > header {
    display: flex;

    .text {
      font-size: 32px;
      font-weight: 700;
      text-align: center;
      line-height: var(--line-height-sm);
    }
  }

  > main {
    display: flex;
    flex-flow: column;
    gap: 8px;

    .saved-games {
      display: flex;
      flex-flow: column;
      gap: 8px;
    }
  }
}
