.tag {
  display: flex;
  place-items: center;
  gap: var(--size-xs);

  padding-right: var(--size-sm);

  background-color: var(--body-background);
  border-radius: 0 var(--size-md) var(--size-md) 0;

  .icon > img {
    max-width: var(--size-lmd);
  }
}
