.quest-log-minimal {
  display: flex;
  flex-flow: column;
  gap: 4px;

  width: 100%;
  padding: 12px;

  > .text {
    font-size: 20px;
  }

  .quest {
    display: flex;
    flex-flow: column;
    gap: 4px;

    padding: 8px;

    border-radius: 4px;
    background-color: var(--color-primary);

    > header {
      .text {
        font-weight: 500;
      }
    }

    > main {
      display: flex;
      flex-flow: column;
      gap: 4px;

      padding: 0 4px;
    }
  }
}
