.theme-courage {
  --color-primary: #e06a1f;
  --color-primary-strong: #c7520c;
  --color-primary-weak: #ee9258;

  --color-secondary: #d6a62f;
  --color-secondary-strong: #b98712;
  --color-secondary-weak: #e0be63;

  --theme-image: url('/digivice_backgrounds/courage.webp');
}
