.theme-courage {
  --color-primary: #f58b1f;
  --color-primary-weak: #f7a044;
  --color-primary-strong: #c9680c;

  --color-secondary: #3478d4;
  --color-secondary-weak: #5a91de;
  --color-secondary-strong: #2455a0;

  --theme-image: url('/digivice_backgrounds/courage.webp');
}
