.theme-friendship {
  --color-primary: #1767c7;
  --color-primary-weak: #3b7ed0;
  --color-primary-strong: #104b91;

  --color-secondary: #bfd9f2;
  --color-secondary-weak: #8fb9df;
  --color-secondary-strong: #6b94bc;

  --theme-image: url('/digivice_backgrounds/friendship.webp');
}
