.theme-hope {
  --color-primary: #dabd57;
  --color-primary-strong: #c5a634;
  --color-primary-weak: #d7c27a;

  --color-secondary: #63a1f2;
  --color-secondary-strong: #3390c5;
  --color-secondary-weak: #8eacc5;

  --theme-image: url('/digivice_backgrounds/hope.webp');
}
