.theme-hope {
  --color-primary: #d5cc94;
  --color-primary-weak: #ddd5a8;
  --color-primary-strong: #afa665;

  --color-secondary: #77e3f6;
  --color-secondary-weak: #58cde2;
  --color-secondary-strong: #2d9fb5;

  --theme-image: url('/digivice_backgrounds/hope.webp');
}
