.theme-knowledge {
  --color-primary: #963ff4;
  --color-primary-weak: #aa5cf0;
  --color-primary-strong: #7028b9;

  --color-secondary: #f05a36;
  --color-secondary-weak: #f47a5b;
  --color-secondary-strong: #c83c20;

  --theme-image: url('/digivice_backgrounds/knowledge.webp');
}
