.theme-knowledge {
  --color-primary: #9450ee;
  --color-primary-strong: #8c3dd6;
  --color-primary-weak: #c88cf0;

  --color-secondary: #2f458c;
  --color-secondary-strong: #2649bb;
  --color-secondary-weak: #6d789d;
}
