.theme-knowledge {
  --color-primary: #5433a0;
  --color-primary-strong: #461792;
  --color-primary-weak: #6d529e;

  --color-secondary: #3b54a8;
  --color-secondary-strong: #1742cc;
  --color-secondary-weak: #586797;

  --theme-image: url('/digivice_backgrounds/knowledge.webp');
}
