.theme-light {
  --color-primary: #c86ab1;
  --color-primary-strong: #b94d9e;
  --color-primary-weak: #d998c8;

  --color-secondary: #4bd6a1;
  --color-secondary-strong: #28bb76;
  --color-secondary-weak: #6cd8b4;
}
