.theme-light {
  --color-primary: #ef8eae;
  --color-primary-weak: #f2a8be;
  --color-primary-strong: #c9577b;

  --color-secondary: #f2dde5;
  --color-secondary-weak: #d9b8c5;
  --color-secondary-strong: #ad7b8e;

  --theme-image: url('/digivice_backgrounds/light.webp');
}
