.theme-love {
  --color-primary: #f94a20;
  --color-primary-weak: #f86b47;
  --color-primary-strong: #c92f0d;

  --color-secondary: #f5d33d;
  --color-secondary-weak: #f1c52b;
  --color-secondary-strong: #c99e08;

  --theme-image: url('/digivice_backgrounds/love.webp');
}
