.theme-reliability {
  --color-primary: #3d4747;
  --color-primary-weak: #566161;
  --color-primary-strong: #252d2d;

  --color-secondary: #69736f;
  --color-secondary-weak: #7f8a86;
  --color-secondary-strong: #48514e;

  --theme-image: url('/digivice_backgrounds/reliability.webp');
}
