.theme-sincerity {
  --color-primary: #42cf72;
  --color-primary-strong: #1fa24b;
  --color-primary-weak: #79d79a;

  --color-secondary: #c9515b;
  --color-secondary-strong: #e23c44;
  --color-secondary-weak: #d87880;

  --theme-image: url('/digivice_backgrounds/sincerity.webp');
}
