.theme-sincerity {
  --color-primary: #19ef44;
  --color-primary-weak: #52f16d;
  --color-primary-strong: #0baf2c;

  --color-secondary: #f49b25;
  --color-secondary-weak: #f5b04a;
  --color-secondary-strong: #c8730b;

  --theme-image: url('/digivice_backgrounds/sincerity.webp');
}
