.combat-parties {
  display: flex;
  flex-flow: column;
  gap: 24px;

  width: 100%;
  padding: 16px 8px;

  background-color: var(--color-neutral-strong);

  > div {
    display: flex;
    flex-flow: column;
    gap: 16px;

    > header > .text {
      font-size: 20px;
    }
  }
}
