.battle-template {
  display: flex;

  width: 100%;
  min-height: 100vh;
  margin: auto;

  .battle-body {
    display: flex;
    flex-flow: column;
    gap: var(--size-md);

    flex: 1;

    .battle-main {
      display: flex;
      flex-flow: column;
      place-content: space-between;
      gap: var(--size-xl);

      flex: 1;

      .battle-parties {
        display: flex;
        place-content: space-between;
        place-items: center;
        gap: var(--combat-board-spacing);

        flex: 1;
      }
    }

    .battle-player-panel {
      display: flex;
      place-content: space-between;
      place-items: flex-end;

      padding: var(--size-lmd);

      .player-party {
        display: flex;
        flex-flow: column;
        gap: var(--size-smd);

        > ul {
          display: flex;
          gap: var(--size-md);

          > li {
            display: flex;
            flex-flow: column;
            place-items: center;
            gap: var(--size-xs);

            padding: var(--size-smd);

            border-radius: var(--size-md);

            transition:
              opacity 0.3s,
              background-color 0.3s;

            .resource-bar {
              width: 100%;
            }

            &.active {
              background-color: var(--color-currentTurn);
            }

            &:not(.active) {
              background-color: var(--color-primary-darker);
            }

            &.defeated {
              opacity: 0.3;
            }
          }
        }
      }

      .current-digimon {
        display: flex;
        place-items: center;
        gap: var(--size-lmd);

        padding: var(--size-lmd);

        background-color: var(--color-primary-darker);
        border-radius: var(--size-md);

        .current-digimon-info {
          display: flex;
          flex-flow: column;
          gap: var(--size-sm);

          width: var(--combat-currentDigimonInfo-width);

          > div {
            display: flex;
            place-items: center;

            > .typography {
              width: var(--size-lg);
            }

            .resource-bar {
              flex: 1;
            }
          }

          .digimon-stats {
            display: flex;
            gap: var(--size-lmd);

            > div {
              display: flex;
              flex-flow: column;
              place-items: center;
              gap: var(--size-xs);

              text-transform: uppercase;

              svg {
                width: var(--size-lmd);
                height: var(--size-lmd);
              }
            }
          }
        }

        .battle-actions {
          display: flex;
          flex-flow: column;
          gap: var(--size-md);

          > .actions-buttons {
            display: flex;
            flex-flow: column;
            gap: var(--size-sm);
          }
        }
      }
    }
  }
}
