.map-subtitles {
  display: flex;
  gap: var(--size-lg);
  flex-wrap: wrap;

  padding: var(--size-md);

  background-color: var(--map-subtitles-background);
  border-radius: var(--size-md);

  .map-subtitle-item {
    display: flex;
    place-items: center;
    gap: var(--size-smd);
  }
}
