.gamepad {
  position: absolute;
  top: calc((var(--tile-size) -4px) * -1);
  left: calc((var(--tile-size) -4px) * -1);

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  > div {
    position: relative;

    display: flex;
    place-items: center;
    place-content: center;
    gap: 8px;

    height: calc(var(--tile-size));
    padding: 4px;
    aspect-ratio: 1/1;

    .button {
      height: calc(var(--tile-size) - 20px);
      padding: 2px;
      aspect-ratio: 1/1;
      overflow: hidden;

      transition:
        opacity 0.3s,
        visibility 0.3s,
        background-color 0.3s;

      svg {
        width: 24px;
        height: 24px;

        filter: drop-shadow(0 0 2px var(--color-neutral-strong))
          drop-shadow(0 0 2px var(--color-neutral-strong))
          drop-shadow(0 0 2px var(--color-neutral-strong));
      }

      &[data-isvisible='false'] {
        opacity: 0;
        visibility: hidden;
      }

      &[data-isvisible='true'] {
        opacity: 1;
        visibility: visible;
      }
    }

    .npc-interaction-button {
      z-index: 2;

      position: absolute;
      top: -10px;
      left: -24px;

      height: 24px;

      svg {
        width: 16px;
        height: 16px;

        filter: none;
      }
    }

    .event-interaction-button {
      z-index: 2;

      position: absolute;
      top: 10px;
      left: 10px;

      color: var(--color-secondary);

      background-color: var(--color-primary-weak);
      box-shadow: 0 0 4px var(--color-neutral-strong);
    }

    .move-character-button {
      color: var(--color-primary-weak);

      background-color: transparent;

      &:hover {
        background-color: transparent;
      }

      &:disabled {
        color: var(--color-neutral);
      }
    }

    .event-interaction-button[data-isvisible='true'] + .move-character-button {
      opacity: 0;
      visibility: hidden;
    }

    &:nth-child(1) {
    }

    &:nth-child(2) {
    }

    &:nth-child(3) {
    }

    &:nth-child(4) {
    }

    &:nth-child(6) {
    }

    &:nth-child(7) {
    }

    &:nth-child(8) {
    }

    &:nth-child(9) {
    }
  }
}
