.gamepad {
  position: absolute;
  top: calc((var(--tile-size) -4px) * -1);
  left: calc((var(--tile-size) -4px) * -1);

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  > div {
    position: relative;

    display: flex;
    place-items: center;
    place-content: center;
    gap: 8px;

    height: calc(var(--tile-size));
    padding: 4px;
    aspect-ratio: 1/1;

    .button {
      height: calc(var(--tile-size) - 20px);
      padding: 2px;
      aspect-ratio: 1/1;
      overflow: hidden;

      transition:
        opacity 0.3s,
        visibility 0.3s,
        background-color 0.3s;

      &[data-isvisible='false'] {
        opacity: 0;
        visibility: hidden;
      }

      &[data-isvisible='true'] {
        opacity: 1;
        visibility: visible;
      }
    }

    .npc-interaction-button {
      z-index: 2;

      position: absolute;
      top: -10px;
      left: -24px;

      height: 24px;

      svg {
        width: 16px;
        height: 16px;

        filter: none;
      }
    }

    .event-interaction-button {
      z-index: 2;

      position: absolute;
      top: 5px;
      left: 5px;

      height: calc(var(--tile-size) - 10px);

      color: color-mix(in srgb, var(--color-neutral-weak) 70%, transparent);

      background-color: color-mix(
        in srgb,
        var(--color-secondary-strong) 70%,
        transparent
      );
      box-shadow: 0 0 4px var(--color-neutral-strong);

      svg {
        width: 24px;
        height: 24px;

        filter: drop-shadow(0 0 2px var(--color-neutral-strong));
      }
    }

    .move-character-button {
      height: calc(var(--tile-size) - 10px);

      color: color-mix(in srgb, var(--color-neutral-weak) 70%, transparent);

      background-color: color-mix(
        in srgb,
        var(--color-primary-strong) 40%,
        transparent
      );

      svg {
        width: 16px;
        height: 16px;
      }

      &:disabled {
        opacity: 0;
        visibility: hidden;
      }
    }

    .event-interaction-button[data-isvisible='true'] + .move-character-button {
      opacity: 0;
      visibility: hidden;
    }
  }
}
