.interactable-tiles {
  display: flex;
  flex-flow: column;
  gap: 4px;

  width: 100%;

  .events {
    display: flex;
    place-items: flex-end;
    gap: 2px;

    .dialog {
      > main {
        max-height: 144px;
      }

      .event {
        display: flex;
        flex-flow: column;
        gap: 16px;

        .button {
          gap: 4px;

          background-color: transparent;

          svg {
            width: 24px;
            height: 24px;
          }
        }
      }
    }

    footer {
      padding-left: 4px;

      .button {
        padding: 0 8px;
      }
    }
  }
}
