.interactable-tiles {
  width: 100%;
  flex: 1;

  position: relative;

  .events {
    display: flex;
    place-items: flex-end;
    gap: 2px;

    .scene {
      z-index: 99;
      top: 0;
      bottom: auto;

      .dialog {
        > main {
          max-height: 160px;
        }

        .npc-dialogs {
          display: flex;
          flex-flow: column;
          gap: 4px;

          .events-list {
            display: flex;
            flex-flow: column;
            gap: 4px;

            .button {
              place-content: flex-start;
              padding: 4px;
              gap: 4px;

              background-color: transparent;

              text-align: left;

              svg {
                width: 24px;
                height: 24px;
              }
            }
          }
        }
      }

      footer {
        padding-left: 4px;

        .button {
          padding: 0 8px;
        }
      }
    }
  }
}
