.interactable-tiles {
  display: flex;
  flex-flow: column;
  gap: 4px;

  width: 100%;
  padding: 8px;

  .events {
    display: flex;
    place-items: flex-end;
    gap: 2px;

    .dialog {
      > main {
        max-height: 192px;
      }

      .npc-dialogs {
        display: flex;
        flex-flow: column;
        gap: 12px;

        .events-list {
          display: flex;
          flex-flow: column;
          gap: 4px;

          .button {
            place-content: flex-start;
            padding: 4px;
            gap: 4px;

            background-color: var(--color-secondary);

            svg {
              width: 24px;
              height: 24px;
            }

            &[data-isimportant='true'] {
              svg {
                color: var(--color-primary);
              }
            }
          }
        }
      }
    }

    footer {
      padding-left: 4px;

      .button {
        padding: 0 8px;
      }
    }
  }
}
