.map-icon {
  display: flex;
  place-content: center;
  place-items: center;

  aspect-ratio: 1;

  border-radius: 100%;

  &.map-type-combat {
    background-color: var(--color-map-type-combat);
  }

  &.map-type-quest {
    background-color: var(--color-map-type-quest);
  }

  &.map-type-quest_repeatable {
    background-color: var(--color-map-type-quest_repeatable);
  }

  &.map-type-commerce {
    background-color: var(--color-map-type-commerce);
  }

  &.map-type-elite {
    background-color: var(--color-map-type-elite);
  }

  &.map-type-event {
    background-color: var(--color-map-type-event);
  }

  &:not(.sm) {
    width: var(--size-xl);

    svg {
      width: var(--size-lmd);
      height: var(--size-lmd);
    }
  }

  &.sm {
    width: var(--size-lg);

    svg {
      width: var(--size-md);
      height: var(--size-md);
    }
  }
}
