.compose-digimon-template {
  display: flex;
  flex-flow: column;
  gap: var(--size-xs);

  > li {
    display: flex;
    place-items: center;
    gap: var(--size-smd);

    padding: var(--size-smd);

    background-color: var(--body-background);
    border-radius: var(--size-md);

    > .compose-digimon-template-core {
      display: flex;
      flex-flow: column;
      gap: var(--size-sm);

      flex: 1;
    }

    > main {
      display: flex;
      place-items: center;
      gap: var(--size-sm);

      > button {
        aspect-ratio: 1;
        padding: 0 var(--size-sm);

        > svg {
          width: var(--size-sm);
          height: var(--size-sm);
        }
      }
    }
  }
}

.compose-progress {
  display: flex;
  flex-flow: column;
  gap: var(--size-xs);

  .resource-bar {
    .typography {
      &:after {
        content: '%';
      }
    }
  }
}

.compose-digimon-actions {
  display: flex;
  place-items: center;
  gap: var(--size-smd);

  > button {
    flex: 1;
  }
}
