.home-template {
  display: flex;
  flex-flow: column;
  gap: var(--size-lg);

  width: 100%;
  padding: var(--size-lg);

  .player-party {
    display: flex;
    flex-flow: column;
    gap: var(--size-md);
  }
}
