.home-template {
  display: flex;

  width: 100%;
  padding: var(--size-lg);

  .tamer-party {
    display: flex;
    flex-flow: column;
    gap: var(--size-md);
  }
}

.tamer-party-digimons {
  display: flex;
  gap: var(--size-lmd);
}
