.gameboard {
  display: flex;
  flex-flow: column;
  place-items: center;
  place-content: center;

  min-width: 100vw;
  min-height: 100vh;

  background-color: var(--color-primary);

  .template-buttons {
    display: flex;
    flex-flow: column;
    place-items: center;
    place-content: center;

    min-width: 320px;
    min-height: 100vh;

    background-color: var(--color-primary-strong);

    .button {
      display: flex;
      place-items: center;
      place-content: center;

      width: 100%;
      padding: 0;

      &:before,
      &:after {
        content: '';

        display: block;

        width: 50%;
        height: 32px;
      }

      &:after {
        background-color: var(--color-primary);
      }

      &:before {
        background-color: var(--color-secondary);
      }
    }
  }
}
