.home-template {
  display: flex;
  flex-flow: column;
  gap: var(--size-lg);

  width: 100%;
  padding: var(--size-lg);

  .tamer-party {
    display: flex;
    flex-flow: column;
    gap: var(--size-md);

    .tamer-party-digimons {
      display: flex;
      gap: var(--size-lmd);
    }
  }

  .tamer-cores-family {
    display: flex;
    flex-flow: column;
    gap: var(--size-md);

    > main {
      display: grid;
      grid-template-columns: repeat(4, var(--cores-size));
      gap: var(--size-md);

      .tamer-cores-family-item {
        display: flex;
        flex-flow: column;
        gap: var(--size-xs);

        width: var(--cores-size);
        padding: var(--size-md);

        text-align: center;

        background-color: var(--digimon-card-background);
        border-radius: var(--size-md);

        > span {
          font-size: var(--size-lg);
        }

        &.nsp {
          color: var(--color-family-nsp);
        }
        &.nso {
          color: var(--color-family-nso);
        }
        &.ds {
          color: var(--color-family-ds);
        }
        &.wg {
          color: var(--color-family-wg);
        }
        &.jt {
          color: var(--color-family-jt);
        }
        &.vb {
          color: var(--color-family-vb);
        }
        &.dr {
          color: var(--color-family-dr);
        }
        &.da {
          color: var(--color-family-da);
        }
        &.un {
          color: var(--color-family-un);
        }
        &.me {
          color: var(--color-family-me);
        }
        &.uk {
          color: var(--color-family-uk);
        }
      }
    }
  }

  .tamer-cores-attribute {
    display: flex;
    flex-flow: column;
    gap: var(--size-md);

    > main {
      display: grid;
      grid-template-columns: repeat(3, var(--cores-size));
      gap: var(--size-md);

      .tamer-cores-attribute-item {
        display: flex;
        flex-flow: column;
        gap: var(--size-xs);

        width: var(--cores-size);
        padding: var(--size-md);

        text-align: center;

        background-color: var(--digimon-card-background);
        border-radius: var(--size-md);

        > span {
          font-size: var(--size-lg);
        }

        &.vaccine {
          color: var(--color-attribute-vaccine);
        }
        &.virus {
          color: var(--color-attribute-virus);
        }
        &.data {
          color: var(--color-attribute-data);
        }
        &.noattribute {
          color: var(--color-attribute-noattribute);
        }
        &.unknown {
          color: var(--color-attribute-unknown);
        }
      }
    }
  }
}
