.interactable-npcs {
  display: flex;
  flex-flow: column;
  gap: 4px;

  flex: 1;

  .npc {
    display: flex;
    place-items: flex-end;
    place-content: space-between;
    gap: 4px;

    header {
      position: relative;

      .portrait {
        position: relative;
        z-index: 2;

        display: flex;
        gap: 6px;

        max-width: 48px;
        padding: 2px;

        border: 2px solid var(--color-primary);
        border-radius: 100%;

        img {
          border-radius: 100%;
        }
      }

      .text {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;

        padding: 4px;
        padding-left: 48px;

        background-color: var(--color-primary);
        border-radius: 4px;
      }
    }

    footer {
      .button {
        padding: 2px 8px;
      }
    }
  }
}
