.avatar-customization {
  position: relative;

  display: flex;
  gap: 8px;

  width: 100%;
  max-height: 228px;
  overflow: auto;

  aside {
    position: sticky;
    top: 0;
    left: 0;

    .player-avatar {
      width: 120px;
      overflow: hidden;

      .avatar-content {
        img {
          border-radius: 4px;
        }
      }
    }
  }

  .avatar-options {
    display: flex;
    flex-flow: column;
    gap: 2px;

    > .text {
      padding-bottom: 4px;

      font-size: 16px;
      font-weight: 500;
    }

    .button {
      gap: 8px;
      background-color: transparent;

      &:hover {
        background-color: transparent;
      }

      svg {
        width: 12px;
        height: 12px;
      }
    }
  }
}
