.combat-loot {
  display: flex;
  flex-flow: column;
  gap: 12px;

  max-height: calc(100vh - 200px);
  padding: 12px;
  overflow: auto;

  > .text {
    font-size: 20px;
  }

  .loot-item {
    display: flex;
    place-items: center;
    gap: 8px;

    padding: 12px;

    background-color: var(--color-secondary-strong);
    border-radius: 12px;

    .core-item {
      position: relative;

      width: 40px;
      height: 40px;

      > .portrait {
        position: absolute;
      }

      > .portrait:nth-child(1) {
        top: 0;
        left: 0;
        z-index: 2;

        width: 40px;
      }

      > .portrait:nth-child(2) {
        top: 6px;
        left: 6px;
        z-index: 1;

        width: 28px;
      }
    }
  }
}
