.composition-list {
  display: flex;
  flex-flow: column;
  gap: 12px;

  width: 100%;

  .composition-list-container {
    display: flex;
    flex-flow: column;
    gap: 4px;

    .list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 4px;

      .composition {
        display: flex;
        flex-flow: column;
        gap: 4px;

        padding: 4px;

        background-color: var(--color-secondary);
        border-radius: 12px;

        > header {
          display: flex;
          place-items: center;
          place-content: space-between;

          .digimon-info {
            display: flex;
            place-items: center;
            gap: 8px;

            .portrait {
              max-width: 32px;
              padding: 2px;

              background-color: var(--color-secondary-strong);
              border-radius: 8px;

              img {
                border-radius: 8px;
              }
            }
          }
        }

        .button {
          padding: 4px;

          svg {
            width: 16px;
            height: 16px;
          }
        }
      }
    }
  }
}
