.minimap {
  --map-size: 80px;
  --container-size: 52px;

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  display: flex;
  gap: 4px;

  > main {
    display: flex;
    flex-flow: column;

    > .button {
      position: absolute;
      top: 0;
      left: calc(var(--map-size) + 4px);

      padding: 4px;

      box-shadow: 0 0 4px var(--color-neutral-strong);

      svg {
        width: 16px;
        height: 16px;
      }
    }

    .zone-name {
      display: flex;

      .text {
        padding: 2px 4px 4px;

        font-size: 12px;

        background-color: var(--color-secondary-strong);
        border-radius: 0 0 4px 4px;
      }
    }
  }
}
