.partner-digimon-card {
  display: flex;
  flex-flow: column;
  gap: var(--size-lmd);

  width: var(--party-digimon-card-size);
  padding: var(--size-md);

  background-color: var(--digimon-card-background);
  border-radius: var(--size-md);

  .digimon-info {
    display: flex;
    gap: var(--size-lg);

    > aside {
      display: flex;
      place-items: center;
      gap: var(--size-md);

      flex: 1;
    }

    .info-text {
      display: flex;
      flex-flow: column;
      gap: var(--size-sm);

      flex: 1;
    }

    .experience-bar {
      width: 240px;
    }
  }

  .digimon-actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--size-sm);
  }
}
