.wiki-template {
  display: flex;
  flex-flow: column;
  gap: var(--size-lg);

  width: 100%;
  padding: var(--size-lg);

  .wiki-digimon-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-md);

    > div {
      display: flex;
      place-items: center;
      flex-flow: column;
      gap: var(--size-smd);

      padding: var(--size-md);

      background-color: var(--digimon-card-background);
      border-radius: var(--size-md);
    }
  }
}
