.update-language {
  .button {
    display: flex;
    place-items: center;
    place-items: center;
    gap: 8px;

    width: 100%;
    height: 36px;
    padding: 4px;

    background-color: transparent;

    .language-flag {
      border-radius: 4px;
      border: 2px solid var(--color-neutral-weak);

      .portrait {
        max-width: 24px;
        aspect-ratio: auto;

        img {
          aspect-ratio: auto;
        }
      }
    }

    .text {
      display: flex;

      flex: 1;
    }

    svg {
      width: 24px;
      height: 24px;
    }
  }
}
