.acquintances {
  display: flex;
  flex-flow: column;
  gap: 12px;

  .acquintances-category {
    display: flex;
    flex-flow: column;
    gap: 4px;

    > .text {
      font-size: 20px;
      text-transform: capitalize;
    }

    .acquintances-list {
      display: flex;
      flex-flow: column;
      gap: 2px;

      .button {
        place-content: flex-start;
        gap: 8px;

        padding: 4px 8px;

        .portrait {
          max-height: 24px;
          overflow: hidden;

          border-radius: 100%;
        }
      }
    }
  }
}
