.controller {
  display: flex;
  flex-flow: column;
  place-items: center;
  place-content: center;
  gap: 4px;

  padding: 8px;
  overflow: hidden;

  border-radius: 100%;
  background-color: var(--color-primary);

  .controller-row {
    display: flex;
    place-items: center;
    place-content: center;
    gap: 6px;

    .controller-col {
      display: flex;
      place-items: center;
      place-content: center;

      height: 24px;
      aspect-ratio: 1/1;

      .button {
        padding: 4px;

        svg {
          width: 16px;
          height: 16px;
          aspect-ratio: 1/1;
        }
      }

      .portrait {
        border-radius: 100%;
      }
    }
  }
}
