.compose-template {
  display: flex;
  flex-flow: column;
  gap: var(--size-lg);

  width: 100%;
  padding: var(--size-lg);

  .compose-header {
    display: flex;
    flex-flow: column;
    gap: var(--size-smd);
  }

  .compose-body {
    display: flex;
    gap: var(--size-lg);

    .digimon-list {
      display: flex;
      flex-flow: column;
      gap: var(--size-lmd);

      > div {
        display: flex;

        > button {
          display: flex;
          flex-flow: column;
          gap: var(--size-sm);

          padding: 0;

          color: var(--color-white);
          text-align: left;

          border: 0;
          background: none;
          cursor: pointer;

          .detailed-digimon-card {
            transition: box-shadow 0.3s;
          }

          &.selected {
            .detailed-digimon-card {
              box-shadow: 0 0 var(--size-sm) var(--size-xs) var(--color-primary);
            }
          }

          &:not(.selected):hover {
            .detailed-digimon-card {
              box-shadow: 0 0 var(--size-sm) var(--size-xs)
                var(--color-primary-transparent);
            }
          }
        }
      }
    }

    .digimon-recipes {
      .recipes-body {
        position: sticky;
        top: var(--size-md);

        display: flex;
        flex-flow: column;
        gap: var(--size-md);

        width: var(--compose-recipe-size);
        padding: var(--size-md);

        background-color: var(--digimon-card-background);
        border-radius: var(--size-md);

        > header {
          display: flex;
          place-items: center;
          gap: var(--size-md);
        }

        > main {
          display: flex;
          flex-flow: column;
          gap: var(--size-md);
        }
      }
    }
  }
}
