.compose-template {
  display: flex;
  flex-flow: column;
  gap: var(--size-lg);

  width: 100%;
  padding: var(--size-lg);

  .compose-header {
    display: flex;
    flex-flow: column;
    gap: var(--size-md);
  }

  .digimon-stage {
    display: flex;
    flex-flow: column;
    gap: var(--size-lg);

    .digimon-stage-list {
      display: flex;
      gap: var(--size-lg);
      flex-wrap: wrap;

      > div {
        display: flex;
        flex-flow: column;
        place-items: center;
        gap: var(--size-md);
      }
    }
  }
}
