.compose-template {
  display: flex;
  flex-flow: column;
  gap: var(--size-lg);

  width: 100%;
  padding: var(--size-lg);

  .compose-header {
    display: flex;
    flex-flow: column;
    gap: var(--size-md);
  }

  .digimon-list {
    display: flex;
    flex-flow: column;
    gap: var(--size-lmd);

    > div {
      display: flex;

      > a {
        display: flex;
        flex-flow: column;
        gap: var(--size-sm);

        color: var(--color-white);
      }
    }
  }
}
