.partner-details {
  display: flex;
  flex-flow: column;
  gap: 12px;

  .partner-header {
    position: sticky;
    top: 40px;
    left: 0;
    z-index: 103;

    padding: 4px 0 0;

    background-color: var(--color-secondary-weak);

    .character-header {
      .character-info {
        position: relative;

        flex-flow: column-reverse;

        padding: 4px;
        overflow: hidden;
        text-overflow: ellipsis;

        background-color: var(--color-secondary-strong);
        border-radius: 0 8px 8px 0;

        .character-name .text {
          padding: 0;

          border-radius: 0;
        }

        > .text {
          font-size: 12px;
        }
      }
    }
  }

  .partner-picture {
    display: flex;
    flex-flow: column;
    gap: 4px;

    .portrait {
      padding: 4px;

      background-color: var(--color-secondary-strong);
      border-radius: 12px;

      img {
        border-radius: 8px;
      }
    }
  }
}
