.map {
  display: flex;
  place-items: center;
  place-content: center;

  width: var(--map-size);
  height: var(--map-size);
  overflow: hidden;

  background-color: var(--color-neutral-strong);
  border: 2px solid var(--color-secondary-strong);
  border-radius: 12px 12px 12px 0;
  box-shadow: 0 0 4px var(--color-neutral-strong);

  .map-tiles {
    display: grid;
    grid-template-columns: repeat(var(--grid-size), 1fr);

    width: 100%;
    height: 100%;

    > div {
      aspect-ratio: 1;

      background-color: var(--color-secondary-weak);

      &.player {
        color: var(--color-primary-strong);
      }

      &.event {
        color: var(--color-secondary-strong);
      }

      &.blocked {
        background-color: transparent;
      }

      &.dungeon,
      &.important,
      &.npc,
      &.warp {
        color: var(--color-neutral-weak);
      }

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}
