.map {
  display: flex;
  place-items: center;
  place-content: center;

  width: var(--map-size);
  height: var(--map-size);
  overflow: hidden;

  background-color: var(--color-neutral-strong);
  background-position: center;
  background-size: 100%;

  border: 2px solid var(--color-secondary-strong);
  border-radius: 12px 12px 12px 0;
  box-shadow: 0 0 4px var(--color-neutral-strong);

  .map-tiles {
    position: relative;

    width: 100%;
    height: 100%;

    > li {
      position: absolute;
      top: calc((var(--tile-y) - 1) * (var(--map-size) / var(--grid-size)));
      left: calc((var(--tile-x) - 1) * (var(--map-size) / var(--grid-size)));

      width: calc(var(--map-size) / var(--grid-size));
      height: calc(var(--map-size) / var(--grid-size));

      color: var(--color-neutral-weak);

      .character-header .character-info {
        display: none;
      }

      .character-header:not([data-islg='true']) .portrait {
        max-width: 100%;
        min-width: 0;

        border-radius: 4px;

        img {
          border-radius: 4px;
        }
      }

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}
