.gameboard-wrapper {
  display: flex;
  flex-flow: column;
  place-items: center;

  width: 100%;
  padding-top: 40px;
  flex: 1;

  .gameboard-title {
    display: flex;
    place-content: flex-end;

    width: 100%;

    background-color: var(--color-primary-strong);

    .text {
      padding: 4px 8px;
      font-size: 24px;
    }
  }

  .gameboard {
    display: flex;
    place-items: center;
    place-content: center;

    width: 100%;
    aspect-ratio: 1;
    overflow: hidden;

    background-color: var(--color-neutral-strong);

    --dead-zone: 2;
    --tile-size: calc(100% / var(--view-size));

    .gameboard-body {
      --min-offset-x: calc(-1 * (var(--grid-size) - var(--view-size)));
      --min-offset-y: calc(-1 * (var(--grid-size) - var(--view-size)));
      --max-offset: calc(var(--grid-size) - var(--view-size));
      --center: calc((var(--view-size) - 1) / 2);

      position: relative;

      height: calc(var(--grid-size) * var(--tile-size));
      aspect-ratio: 1;

      background-size: 100% 100%;
      background-repeat: no-repeat;

      will-change: transform;

      transform: translate3d(
        calc(
          clamp(
              var(--min-offset-x),
              calc(var(--center) - (var(--current-x) - 1)),
              var(--max-offset)
            ) *
            var(--tile-size)
        ),
        calc(
          clamp(
              var(--min-offset-y),
              calc(var(--center) - (var(--current-y) - 1)),
              var(--max-offset)
            ) *
            var(--tile-size)
        ),
        0
      );
    }
  }
}
