.gameboard-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;

  width: 100%;
  max-height: calc(var(--is-visible) * 100cqw + 48px);

  opacity: var(--is-visible);

  transition:
    opacity 0.3s,
    max-height 0.3s;

  .gameboard {
    --tile-size: 32px;
    --view-size: 19;

    position: relative;

    width: 100%;
    aspect-ratio: 1;

    overflow: hidden;

    background-color: var(--color-neutral-strong);
    box-shadow: 0 0 8px var(--color-neutral-strong);

    .gameboard-body {
      position: absolute;
      top: calc(
        50% - (var(--tile-size) / 2) - (var(--tile-size) * var(--current-y))
      );
      left: calc(
        50% - (var(--tile-size) / 2) - (var(--tile-size) * var(--current-x))
      );

      width: calc(var(--grid-size) * var(--tile-size));
      height: calc(var(--grid-size) * var(--tile-size));

      background-size: cover;
      background-repeat: no-repeat;

      opacity: var(--is-warping);

      transition:
        top 0.3s,
        left 0.3s,
        opacity 0.3s;

      .character {
        position: absolute;
        top: calc((var(--tile-size) * var(--character-y)));
        left: calc((var(--tile-size) * var(--character-x)));

        width: var(--tile-size);
        height: var(--tile-size);

        overflow: hidden;

        border-radius: 100%;
        border: 2px solid var(--color-secondary);

        opacity: var(--character-opacity);

        transition:
          top 0.3s linear,
          left 0.3s linear,
          opacity 0.3s linear;
      }
    }
  }
}
