.gameboard-title {
  display: flex;

  width: 100%;
  padding: 0 4px;

  .text {
    padding: 4px 8px;

    font-size: 24px;

    background-color: var(--color-primary);
    border-radius: 8px 8px 0 0;
  }
}

.gameboard {
  /* Gameboard */
  --view-size: 7;
  --dead-zone: 2;

  --tile-size: 50px;

  /* movement step = tile only */
  --step: var(--tile-size);

  --center: calc((var(--view-size) - 1) / 2);

  --min-offset-x: calc(-1 * (var(--grid-size-x) - var(--view-size)));
  --min-offset-y: calc(-1 * (var(--grid-size-y) - var(--view-size)));
  --max-offset: 0;

  display: flex;

  width: calc(var(--tile-size) * var(--view-size) + 2px);
  padding: 1px;
  aspect-ratio: 1;

  overflow: hidden;
  background-color: var(--color-neutral-strong);

  .gameboard-body {
    display: flex;
    flex-direction: column;

    will-change: transform;

    transform: translate3d(
      calc(
        clamp(
            var(--min-offset-x),
            calc(
              clamp(
                (var(--center) - (var(--x) - 1) - var(--dead-zone)),
                (var(--center) - (var(--x) - 1)),
                (var(--center) - (var(--x) - 1) + var(--dead-zone))
              )
            ),
            var(--max-offset)
          ) *
          var(--step)
      ),
      calc(
        clamp(
            var(--min-offset-y),
            calc(
              clamp(
                (var(--center) - (var(--y) - 1) - var(--dead-zone)),
                (var(--center) - (var(--y) - 1)),
                (var(--center) - (var(--y) - 1) + var(--dead-zone))
              )
            ),
            var(--max-offset)
          ) *
          var(--step)
      ),
      0
    );

    background-color: var(--color-primary);
  }

  .gameboard-y {
    display: flex;
  }

  .gameboard-x {
    height: var(--tile-size);
    aspect-ratio: 1;
  }
}
