.item-core {
  position: relative;

  width: 40px;
  height: 40px;

  > .portrait {
    position: absolute;
  }

  > .portrait:nth-child(1) {
    top: 0;
    left: 0;
    z-index: 2;

    width: 40px;
  }

  > .portrait:nth-child(2) {
    top: 6px;
    left: 6px;
    z-index: 1;

    width: 28px;
  }
}
