.character-full-picture {
  display: flex;
  flex-flow: column;

  > header {
    display: flex;

    .text {
      padding: 2px 4px;

      background-color: var(--color-primary-strong);
      border-radius: 8px 8px 0 0;
    }
  }

  > main {
    padding: 4px;

    background-color: var(--color-primary-strong);
    border-radius: 0 12px 12px 12px;

    img {
      border-radius: 0 12px 12px 12px;
    }
  }
}
