.theme-hazard {
  --color-primary: #3f3232;
  --color-primary-strong: #1a1010;
  --color-primary-weak: #413a3a;

  --color-secondary: #c03030;
  --color-secondary-strong: #d61010;
  --color-secondary-weak: #a84f4f;
}
