.theme-warning {
  --color-primary: #3f3e36;
  --color-primary-strong: #22221d;
  --color-primary-weak: #5a584e;

  --color-secondary: #c4b72c;
  --color-secondary-strong: #a09d0b;
  --color-secondary-weak: #cfcd51;
}
