.theme-warning {
  --color-primary: #3f3e36;
  --color-primary-strong: #22221d;
  --color-primary-weak: #5a584e;

  --color-secondary: #e4d637;
  --color-secondary-strong: #d6c919;
  --color-secondary-weak: #eeec4f;

  --text-color: #000;
}
