.settings-theme {
  display: flex;
  flex-flow: column;
  gap: 8px;

  padding: 8px;

  background-color: var(--color-primary-strong);
  border-radius: 8px;

  .themes-list {
    display: flex;
    flex-flow: column;
    gap: 8px;

    max-height: 240px;
    overflow: auto;

    > div {
      display: flex;
      flex-flow: column;
      gap: 4px;

      > header {
        display: flex;
        gap: 4px;
      }

      > main {
        display: flex;
        flex-flow: column;

        padding: 4px;

        background-color: var(--color-primary);
        border-radius: 8px;
      }
    }
  }
}
