.settings-theme {
  display: flex;
  flex-flow: column;
  gap: 8px;

  padding: 8px;

  background-color: var(--color-primary-strong);
  border-radius: 8px;

  .themes-list {
    display: flex;
    flex-flow: column;
    gap: 8px;

    max-height: 260px;
    overflow: auto;
  }
}
