.digimon-equipments {
  .equipments {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;

    > div {
      display: flex;
      flex-flow: column;
      gap: 4px;

      padding: 4px;

      background-color: var(--color-primary);
      border-radius: 4px;

      .portrait {
        width: 24px;

        border: 2px solid var(--color-primary-strong);
        border-radius: 4px;
      }

      .text {
        font-size: 12px;
      }

      header {
        display: flex;
        place-content: space-between;
        place-items: flex-start;
        flex: 1;

        .button {
          padding: 2px;

          svg {
            width: 12px;
            height: 12px;
          }
        }
      }
    }
  }
}
