.researches-list {
  display: flex;
  flex-flow: column;
  gap: 12px;

  padding: 8px;

  > .text {
    font-size: 12px;
  }

  .researches {
    display: flex;
    flex-flow: column;
    gap: 4px;

    .research-content {
      display: flex;
      flex-flow: column;
      gap: 4px;

      .research {
        display: flex;
        place-items: center;
        gap: 6px;

        padding: 4px 6px 4px;

        background-color: var(--color-primary);
        border-radius: 4px;

        .research-avatar {
          .portrait {
            width: 28px;
            min-width: 28px;
            padding: 2px;
            overflow: hidden;

            background-color: var(--color-primary-strong);
            border-radius: 4px;

            img {
              border-radius: 4px;
            }
          }
        }

        .research-name {
          display: flex;
          flex-flow: column;
          place-items: flex-start;
          gap: 2px;

          flex: 1;

          .text {
            font-size: 12px;
          }
        }

        .research-details {
          .button {
            padding: 4px;

            background-color: var(--color-secondary-strong);

            svg {
              width: 16px;
              height: 16px;
            }
          }
        }
      }
    }
  }
}
