.acquaintances {
  display: flex;
  flex-flow: column;
  gap: 12px;

  padding: 8px;

  .acquaintances-category {
    display: flex;
    flex-flow: column;
    gap: 4px;

    > .text {
      text-transform: capitalize;
    }

    .acquaintances-list {
      display: flex;
      flex-flow: column;
      gap: 2px;

      .npc-item {
        display: flex;
        place-items: center;
        gap: 4px;

        padding: 4px 6px 4px;

        background-color: var(--color-primary);
        border-radius: 4px;

        .portrait {
          max-height: 28px;
          overflow: hidden;

          padding: 2px;

          background-color: var(--color-primary-strong);

          border-radius: 4px;

          img {
            border-radius: 4px;
          }
        }

        > header {
          flex: 1;

          .text {
            font-size: 12px;
          }
        }

        .button {
          place-content: flex-start;

          padding: 4px;

          background-color: var(--color-secondary-strong);

          svg {
            width: 16px;
            height: 16px;
          }
        }
      }
    }
  }
}
