.theme-da {
  --color-primary: #242126;
  --color-primary-weak: #3d353f;
  --color-primary-strong: #121014;

  --color-secondary: #8e2635;
  --color-secondary-weak: #a94351;
  --color-secondary-strong: #5c1722;

  --theme-image: url('/digivice_backgrounds/da.webp');
}
