.theme-da {
  --color-primary: #2b2226;
  --color-primary-strong: #1a070e;
  --color-primary-weak: #312d2f;

  --color-secondary: #2a1931;
  --color-secondary-strong: #1d1320;
  --color-secondary-weak: #37303f;
}
