.theme-dr {
  --color-primary: #e83b32;
  --color-primary-weak: #f06a62;
  --color-primary-strong: #9e211c;

  --color-secondary: #3f5fa8;
  --color-secondary-weak: #607bb9;
  --color-secondary-strong: #293f73;

  --theme-image: url('/digivice_backgrounds/dr.webp');
}
