.theme-ds {
  --color-primary: #397cc4;
  --color-primary-weak: #67a0d8;
  --color-primary-strong: #20518a;

  --color-secondary: #7a8fd1;
  --color-secondary-weak: #9dade0;
  --color-secondary-strong: #4d5e99;

  --theme-image: url('/digivice_backgrounds/ds.webp');
}
