.theme-jt {
  --color-primary: #8fa52e;
  --color-primary-weak: #b1c653;
  --color-primary-strong: #5d6e18;

  --color-secondary: #d28b27;
  --color-secondary-weak: #e1aa52;
  --color-secondary-strong: #895718;

  --theme-image: url('/digivice_backgrounds/jt.webp');
}
