.theme-me {
  --color-primary: #6b7075;
  --color-primary-weak: #858b90;
  --color-primary-strong: #3d4145;

  --color-secondary: #b83b2b;
  --color-secondary-weak: #cf5949;
  --color-secondary-strong: #78251c;

  --theme-image: url('/digivice_backgrounds/me.webp');
}
