.theme-nso {
  --color-primary: #45477f;
  --color-primary-weak: #686ba5;
  --color-primary-strong: #292a55;

  --color-secondary: #7650a1;
  --color-secondary-weak: #9577bc;
  --color-secondary-strong: #4c326b;

  --theme-image: url('/digivice_backgrounds/nso.webp');
}
