.theme-nsp {
  --color-primary: #43885a;
  --color-primary-weak: #6aa478;
  --color-primary-strong: #2c5e3d;

  --color-secondary: #3e8c87;
  --color-secondary-weak: #62aaa5;
  --color-secondary-strong: #285e5a;

  --theme-image: url('/digivice_backgrounds/nsp.webp');
}
