.theme-vb {
  --color-primary: #a9b7bc;
  --color-primary-weak: #c1cdd1;
  --color-primary-strong: #68777d;

  --color-secondary: #d2a62c;
  --color-secondary-weak: #deb84d;
  --color-secondary-strong: #967316;

  --theme-image: url('/digivice_backgrounds/vb.webp');
}
