.theme-wg {
  --color-primary: #82c9d4;
  --color-primary-weak: #9edde5;
  --color-primary-strong: #4e8d9a;

  --color-secondary: #5a9cc2;
  --color-secondary-weak: #78b5d3;
  --color-secondary-strong: #386982;

  --theme-image: url('/digivice_backgrounds/wg.webp');
}
