.theme-wg {
  --color-primary: #229e9e;
  --color-primary-strong: #148b8b;
  --color-primary-weak: #52b1b1;

  --color-secondary: #7ac7c7;
  --color-secondary-strong: #67d1d1;
  --color-secondary-weak: #9adada;
}
