.gennai-explanation-topic {
  display: flex;
  flex-flow: column;

  gap: 1px;

  width: 400px;

  .shadow-button {
    .button-content {
      place-content: flex-start;

      padding: 2px 20px;

      font-size: 12px;
    }
  }
}
