.start-screen {
  display: flex;
  flex-flow: column;
  gap: 48px;

  width: 100%;
  padding: 64px 8px;
  flex: 1;

  background-color: var(--color-primary-weak);

  > header {
    display: flex;
    flex-flow: column;
    place-items: center;
    place-content: center;
    gap: 12px;

    .portrait {
      display: flex;
      place-items: center;
      place-content: center;

      height: 160px;

      img {
        aspect-ratio: auto;
        max-height: 160px;
      }
    }

    .text {
      font-size: 32px;
      font-weight: 300;
      text-align: center;
      line-height: var(--line-height-sm);
    }
  }

  > main {
    display: flex;
    flex-flow: column;
    gap: 32px;

    .saved-games {
      display: flex;
      flex-flow: column;
      gap: 4px;

      > .button {
        padding: 8px;
      }

      .games-list {
        display: flex;
        flex-flow: column;
        gap: 4px;
      }
    }
  }
}
