.partners-list {
  display: flex;
  flex-flow: column;
  gap: 12px;

  padding: 8px;

  .partners-list-category {
    display: flex;
    flex-flow: column;
    gap: 4px;

    > .text {
      font-size: 20px;
    }

    .partners-list-list {
      display: flex;
      flex-flow: column;
      gap: 2px;

      .partners-list-partner {
        display: flex;
        place-items: center;
        gap: 8px;

        padding: 4px 4px 4px 8px;

        background-color: var(--color-primary);
        border-radius: 4px;

        svg {
          width: 20px;
          height: 20px;
        }

        .partner-avatar {
          .portrait {
            width: 24px;
            min-width: 24px;
            overflow: hidden;

            border-radius: 100%;
          }
        }

        .partner-name {
          display: flex;
          flex-flow: column;
          place-items: flex-start;
          gap: 2px;

          flex: 1;

          .text:nth-child(2) {
            font-size: 12px;
          }
        }

        footer {
          display: flex;
          gap: 2px;

          .button {
            padding: 4px;

            background-color: var(--color-secondary-strong);

            svg {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
  }
}
