.create-profile-template {
  display: flex;
  place-content: center;
  place-items: center;

  width: 100%;
  min-height: 100vh;

  form {
    display: flex;
    flex-flow: column;
    place-items: center;
    gap: var(--size-lg);

    position: relative;

    header {
      position: sticky;
      top: 0;
      left: 0;
      z-index: 1;

      display: flex;
      flex-flow: column;
      place-items: center;
      gap: var(--size-md);

      width: 100%;

      background-color: var(--body-background);
    }
  }
}
