.map-details-npcs {
  display: flex;
  flex-flow: column;
  gap: var(--size-smd);

  > main {
    display: flex;
    flex-flow: column;
    gap: var(--size-smd);

    > button {
      gap: var(--size-sm);
    }
  }
}
