.minimap {
  display: flex;
  place-items: center;
  place-content: center;

  width: 80px;
  height: 80px;
  overflow: hidden;

  background-color: var(--color-neutral-strong);
  border: 2px solid var(--color-secondary-strong);
  border-radius: 4px;

  .minimap-container {
    --container-size: 54px;
    --tile-size: calc(var(--container-size) / var(--grid-size));

    position: relative;

    width: var(--container-size);
    height: var(--container-size);

    transform: rotate(-45deg);

    background-color: var(--color-secondary-weak);

    > div {
      position: absolute;
      top: calc(var(--tile-y) * var(--tile-size));
      left: calc(var(--tile-x) * var(--tile-size));

      width: var(--tile-size);
      height: var(--tile-size);

      &.player {
        background-color: var(--color-primary-strong);
      }

      &.npcs,
      &.events {
        background-color: var(--color-neutral-weak);
      }

      &.blocked {
        background-color: var(--color-neutral-strong);
      }
    }
  }
}
