@media (orientation: landscape) {
  .screen-orientation-warning {
    display: none !important;
  }
}

.warning-container {
  position: fixed;
  top: 50%;
  left: 50%;

  .screen-orientation-warning {
    display: flex;
    flex-flow: column;
    place-content: center;
    gap: 12px;

    width: 360px;
    height: 640px;

    transform: translate(-50%, -50%)
      scale(min(tan(atan2(100dvw, 360px)), tan(atan2(100dvh, 640px))));

    padding: 32px 68px 0;

    box-shadow: 0 0 4px var(--color-neutral-strong);
    background-image: url('/scenes/device-orientation-warning.webp');
    background-size: cover;
    background-position: center;

    .text {
      font-size: 12px;
    }
  }
}
