.avatar-customization {
  display: flex;
  flex-flow: column;
  gap: 8px;

  header {
    display: flex;
    flex-flow: column;
    gap: 8px;

    .player-avatar {
      width: 100%;
    }
  }

  .avatar-options {
    display: flex;
    flex-flow: column;
    gap: 8px;

    .options-list {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;

      .button {
        padding: 0 4px;
      }
    }
  }
}
