.start-screen {
  display: flex;
  place-items: center;
  place-content: center;

  width: 100%;
  height: 100%;
  padding-top: 36px;

  background-image: url('/scenes/start-screen.webp');
  background-size: cover;
  background-position: center;

  > main {
    display: flex;
    flex-flow: column;
    gap: 24px;

    width: 240px;

    > .text {
      font-size: 24px;
      font-weight: 400;
      text-align: center;
      line-height: var(--line-height-sm);
      text-shadow:
        2px 2px 4px var(--color-neutral-strong),
        2px 2px 4px var(--color-neutral-strong);
    }

    .saved-games + .start-screen-options {
      display: none;
    }
  }
}

.settings + .start-screen {
  display: none;
}
