.settings-theme {
  display: flex;
  flex-flow: column;
  gap: 8px;

  .themes-list {
    display: flex;
    flex-flow: column;
    gap: 12px;

    > div {
      display: flex;
      flex-flow: column;
      gap: 4px;

      > header {
        > .text {
          padding: 0 12px;

          font-size: 12px;
        }
      }

      > main {
        display: flex;
        flex-flow: column;
        gap: 2px;
      }
    }
  }
}
