@import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

@import url('./vars.css');
@import url('./reset.css');

body {
  display: flex;
  place-content: center;
  place-items: center;

  background-color: var(--body-background);
}

#root {
  display: flex;

  width: 100%;

  color: var(--typography-text);
  font-size: var(--size-md);
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-single);
}
