@import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

@import url('./vars.css');
@import url('./reset.css');

@import url('./Themes/default.theme.css');

body {
  display: flex;
  place-content: center;
  place-items: center;
}

#root {
  display: flex;
  place-items: center;
  place-content: center;

  width: 100dvw;
  min-height: 100dvh;
  overflow: auto;

  font-size: 14px;
  font-family: var(--font-family);
  line-height: var(--line-height-single);

  background-color: var(--color-neutral-strong);
}
