:root {
  --color-cancel: #e04848;
  --color-cancel-strong: #bb3434;
  --color-cancel-weak: #f08b8b;

  --color-neutral-weak: #f8fbff;
  --color-neutral: #8c9bab;
  --color-neutral-strong: #121821;

  --color-hp: #10ce5f;
  --color-sp: #12c3bb;

  --text-color: #fff;

  --font-family: 'Winky Rough', sans-serif;

  --line-height-single: 1;
  --line-height-sm: 1.2;
  --line-height-md: 1.5;
  --line-height-lg: 1.8;
  --line-height-double: 2;
}
