:root {
  --color-primary: #75b5f2;
  --color-primary-strong: #3694eb;
  --color-primary-weak: #153162;

  --color-secondary: #11e445;

  --color-neutral-weak: #fcfcfc;
  --color-neutral: #999;
  --color-neutral-strong: #151515;

  --font-family: 'Winky Rough', sans-serif;

  --text-color: var(--color-neutral-weak);
  --modal-color: #75b5f299;
}
