.npc-profile {
  display: flex;
  flex-flow: column;
  gap: 8px;

  padding: 0 8px 8px;

  .npc-header {
    position: sticky;
    top: 40px;
    left: 0;
    z-index: 103;

    padding: 8px 0;

    background-color: var(--color-primary-weak);

    .character-header {
      .portrait {
        background-color: var(--color-primary-strong);

        img {
          border-color: var(--color-primary-strong);
        }
      }

      .character-info {
        position: relative;

        flex-flow: column-reverse;

        padding: 4px;
        overflow: hidden;
        text-overflow: ellipsis;

        background-color: var(--color-primary-strong);
        border-radius: 0 8px 8px 0;

        .character-name .text {
          padding: 0;

          border-radius: 0;
          background-color: var(--color-primary-strong);
        }

        > .text {
          &:before {
            content: '"';
          }

          &:after {
            content: '"';
          }

          font-size: 12px;
        }
      }
    }
  }

  .npc-info {
    display: flex;
    flex-flow: column;
    gap: 8px;

    .text:nth-child(2) {
      font-size: 12px;
    }
  }

  > main {
    display: flex;
    flex-flow: column;
    gap: 12px;

    > section {
      display: flex;
      flex-flow: column;

      > header {
        .text {
          padding: 2px 8px 4px;

          background-color: var(--color-primary-strong);
          border-radius: 12px 12px 0 0;
        }
      }

      > main {
        padding: 4px;

        background-color: var(--color-primary-strong);
        border-radius: 0 12px 12px 12px;

        img {
          border-radius: 8px;
        }

        &.acquintance-description .text {
          padding: 4px;

          font-size: 12px;
        }
      }
    }
  }
}
