.npc-profile {
  display: flex;
  flex-flow: column;
  gap: 8px;

  .button {
    padding: 0;

    background-color: transparent;

    text-decoration: underline;

    &:not(:disabled, .cancel):hover {
      background-color: transparent;
    }
  }

  .npc-header {
    position: sticky;
    top: 40px;
    left: 0;
    z-index: 103;

    padding: 4px 0 0;

    background-color: var(--color-secondary-weak);

    .character-header {
      .character-info {
        position: relative;

        flex-flow: column-reverse;

        padding: 4px;
        overflow: hidden;
        text-overflow: ellipsis;

        background-color: var(--color-secondary-strong);
        border-radius: 0 8px 8px 0;

        .character-name .text {
          padding: 0;

          border-radius: 0;
        }

        > .text {
          &:before {
            content: '"';
          }

          &:after {
            content: '"';
          }

          font-size: 12px;
        }
      }
    }
  }

  .npc-info {
    display: flex;
    flex-flow: column;
    gap: 8px;

    .text:nth-child(2) {
      font-size: 12px;
    }
  }
}
