.game-body {
  display: flex;
  place-items: center;
  place-content: center;

  min-width: 100vw;
  max-width: 100vw;
  min-height: 100dvh;
  max-height: 100dvh;

  background-color: var(--color-primary);
}

.main-game {
  display: flex;
  flex-flow: column;
  place-items: center;
  place-content: center;

  width: clamp(360px, 480px, 100%);
  min-height: 100dvh;
  max-height: 100dvh;
  overflow: auto;

  position: relative;

  background-color: var(--color-primary-strong);
}

.game-header {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  place-items: center;
  place-content: space-between;

  width: 100%;
  padding: 8px;

  background-color: var(--color-primary-strong);

  .player {
    position: relative;
    z-index: 100;

    display: flex;
    place-items: center;
    gap: 6px;
  }

  .player-avatar {
    width: 24px;

    border-radius: 100%;

    img {
      border-radius: 100%;
    }
  }

  .game-header-actions {
    display: flex;
    gap: 8px;

    .button {
      position: relative;
      z-index: 103;

      padding: 4px;

      svg {
        width: 16px;
        height: 16px;
      }

      &[data-isOpen='true'] {
        background-color: var(--color-cancel);
      }
    }
  }

  .modal {
    flex-flow: column;
    place-items: flex-end;
    place-content: flex-start;

    padding: 0;
  }
}

.screen-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;

  display: flex;
  place-items: flex-end;
  place-content: flex-end;
  gap: 8px;

  width: 100%;
  padding: 8px;
}
