.game-body {
  display: flex;
  place-items: center;
  place-content: center;

  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;

  background-color: var(--color-primary);
}

.main-game {
  display: flex;
  flex-flow: column;
  place-items: center;
  place-content: center;

  min-width: 320px;
  max-width: 320px;
  min-height: 100vh;
  max-height: 100vh;
  overflow: auto;

  position: relative;

  background-color: var(--color-primary-strong);
}

.screen-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;

  display: flex;
  place-items: flex-end;
  place-content: flex-end;
  gap: 8px;

  width: 100%;
  padding: 8px;
}
