.theme-alternative {
  --color-primary: #8d4ad9;
  --color-primary-strong: #8023cc;
  --color-primary-weak: #9168d3;

  --color-secondary: #1aa3a8;
  --color-secondary-strong: #148286;
  --color-secondary-weak: #6fa6a8;

  --theme-image: url('/digivice_backgrounds/alternative.webp');
}
