.theme-default {
  --color-primary: #a0c8e8;
  --color-primary-weak: #b0d2ec;
  --color-primary-strong: #6d9fc8;

  --color-secondary: #4a4da6;
  --color-secondary-weak: #6468b8;
  --color-secondary-strong: #2c2e6f;

  --theme-image: url('/digivice_backgrounds/default.webp');
}
