.settings {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;

  display: flex;
  place-content: flex-end;

  width: 100%;
  padding: 8px;

  background-color: var(--color-primary-strong);

  header {
    display: flex;
    place-items: center;
    place-content: space-between;

    width: 100%;

    .player {
      display: flex;
      place-items: center;
      gap: 6px;
    }

    .button {
      padding: 4px;

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }

  .modal {
    flex-flow: column;
    place-items: flex-end;
    place-content: flex-start;

    padding: 0;

    header {
      padding: 8px;

      background-color: var(--color-primary-strong);
    }

    > main {
      display: flex;
      flex-flow: column;
      gap: 16px;

      width: 100%;
      padding: 16px 8px;
      flex: 1;

      > .text {
        font-weight: 700;
        font-size: 24px;
      }
    }
  }
}
