.settings {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;

  display: flex;
  place-content: flex-end;

  width: 100%;

  background-color: var(--color-primary-strong);

  .settings-header {
    display: flex;
    place-items: center;
    place-content: space-between;

    width: 100%;
    padding: 8px;

    background-color: var(--color-primary-strong);

    .player {
      display: flex;
      place-items: center;
      gap: 6px;
    }

    .portrait,
    .player-avatar {
      width: 24px;

      border-radius: 100%;

      img {
        border-radius: 100%;
      }
    }

    .button {
      padding: 4px;

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }

  .modal {
    flex-flow: column;
    place-items: flex-end;
    place-content: flex-start;

    padding: 0;

    > main {
      display: flex;
      flex-flow: column;
      gap: 16px;

      width: 100%;
      padding: 16px 8px;
      flex: 1;

      > header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;

        width: 100%;
      }

      > .text {
        font-weight: 700;
        font-size: 24px;
      }
    }
  }
}
