.settings-language {
  display: flex;
  flex-flow: column;
  gap: 4px;

  padding: 8px;

  background-color: var(--color-primary-strong);
  border-radius: 8px;

  .languages-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;

    max-height: 280px;
    overflow: auto;
  }
}
