.gamepad {
  position: absolute;
  bottom: 8px;
  right: 8px;
  z-index: 100;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  place-content: center;
  gap: 4px;

  .button {
    height: 24px;
    aspect-ratio: 1/1;
    padding: 4px;

    background-color: var(--color-secondary-strong);
    box-shadow: 0 0 4px var(--color-neutral-strong);

    svg {
      width: 16px;
      height: 16px;
      aspect-ratio: 1/1;
    }
  }
}
