.resource-bar {
  display: flex;
  flex-flow: column;
  gap: var(--size-sm);

  .resource-bar-background {
    position: relative;

    height: var(--size-lmd);
    overflow: hidden;

    background-color: var(--resource-bar-background);
    border-radius: var(--size-md);

    .bar {
      width: 0;
      height: var(--size-lmd);

      transition: width 0.3s;
    }

    &.hp .bar {
      background-color: var(--resource-bar-hp-background-filled);
    }

    &.sp .bar {
      background-color: var(--resource-bar-sp-background-filled);
    }

    &:not(.hp, .sp) .bar {
      background-color: var(--resource-bar-exp-background-filled);
    }

    > .typography {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;

      display: flex;
      place-content: center;
      place-items: center;

      width: 100%;
      height: 100%;
    }
  }
}
