.settings {
  .settings-header {
    display: flex;
    place-content: space-between;
    place-items: center;

    width: 100%;
    padding: 8px;

    background-color: var(--color-primary-strong);

    .button {
      padding: 4px;

      background-color: var(--color-secondary-strong);

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }

  .modal {
    flex-flow: column;
    place-items: flex-end;
    place-content: flex-start;

    height: 100dvh;
    padding: 0;

    > main {
      display: flex;
      flex-flow: column;
      gap: 8px;

      width: 100%;
      padding: 8px;
      flex: 1;

      background-color: var(--color-primary-weak);

      > .text {
        font-weight: 700;
        font-size: 24px;
      }
    }
  }
}
