.theme-alternative {
  --color-primary: #6255c3;
  --color-primary-strong: #4b37e0;
  --color-primary-weak: #a297f0;

  --color-secondary: #27a8a2;
  --color-secondary-strong: #11817c;
  --color-secondary-weak: #5fafab;

  --color-cancel: #d63737;
  --color-cancel-strong: #a82626;
  --color-cancel-weak: #5c1414;

  --color-neutral-weak: #f8fbff;
  --color-neutral: #8c9bab;
  --color-neutral-strong: #121821;

  --text-color: #fff;
  --modal-color: #6255c366;
}
