.theme-alternative {
  --color-primary: #6b5ce7;
  --color-primary-strong: #5746e0;
  --color-primary-weak: #7161ee;

  --color-secondary: #31b7d3;
  --color-secondary-strong: #1997b3;
  --color-secondary-weak: #5fc9de;

  --modal-color: #6b5ce780;
}
