.theme-courage {
  --color-primary: #d04323;
  --color-primary-strong: #ac1a00;
  --color-primary-weak: #ff6955;

  --color-secondary: #fa6400;
  --color-secondary-strong: #ac4500;
  --color-secondary-weak: #ff9955;

  --color-cancel: #b83232;
  --color-cancel-strong: #7a1f1f;
  --color-cancel-weak: #3d0f0f;

  --color-neutral-weak: #fff8f5;
  --color-neutral: #a68a7a;
  --color-neutral-strong: #1a1412;

  --text-color: #fff;
  --modal-color: #d0432399;
}
