.theme-default {
  --color-primary: #4a93d9;
  --color-primary-strong: #2378cc;
  --color-primary-weak: #8fbce8;

  --color-secondary: #d88a3d;
  --color-secondary-strong: #c96d12;
  --color-secondary-weak: #c99568;
}
