.theme-friendship {
  --color-primary: #1870f2;
  --color-primary-strong: #0a52bf;
  --color-primary-weak: #4d88d6;

  --color-secondary: #315181;
  --color-secondary-strong: #21385a;
  --color-secondary-weak: #6d7e96;

  --modal-color: #1870f280;
}
