.theme-friendship {
  --color-primary: #1870f2;
  --color-primary-strong: #0a52bf;
  --color-primary-weak: #4d88d6;

  --color-secondary: #3fc7c2;
  --color-secondary-strong: #22aaa5;
  --color-secondary-weak: #74d7d3;

  --modal-color: #1870f280;
}
