.theme-hope {
  --color-primary: #d8c06b;
  --color-primary-strong: #c5a634;
  --color-primary-weak: #d7c27a;

  --color-secondary: #63f2da;
  --color-secondary-strong: #33c5ad;
  --color-secondary-weak: #7bc5b9;
}
