.theme-hope {
  --color-primary: #ffe58a;
  --color-primary-strong: #d4b85f;
  --color-primary-weak: #fff6cc;

  --color-secondary: #fff2b3;
  --color-secondary-strong: #e6d88a;
  --color-secondary-weak: #fff9e0;

  --color-cancel: #c94c4c;
  --color-cancel-strong: #8a3333;
  --color-cancel-weak: #451919;

  --color-neutral-weak: #fffef8;
  --color-neutral: #c2bca3;
  --color-neutral-strong: #1a1810;
}
