.theme-hope {
  --color-primary: #e3bf3c;
  --color-primary-strong: #d4ab16;
  --color-primary-weak: #d7c27a;

  --color-secondary: #63b8f2;
  --color-secondary-strong: #3d9fe0;
  --color-secondary-weak: #8fc8ee;

  --modal-color: #e3bf3c80;
}
