.theme-knowledge {
  --color-primary: #9450ee;
  --color-primary-strong: #8c3dd6;
  --color-primary-weak: #c88cf0;

  --color-secondary: #2f8c53;
  --color-secondary-strong: #22b15e;
  --color-secondary-weak: #6d9d79;
}
