.theme-light {
  --color-primary: #ee96da;
  --color-primary-strong: #df69c0;
  --color-primary-weak: #f1c1e5;

  --color-secondary: #7fc8f8;
  --color-secondary-strong: #58afe8;
  --color-secondary-weak: #8ec8ee;

  --modal-color: #ee96da80;
}
