.theme-light {
  --color-primary: #c86ab1;
  --color-primary-strong: #b94d9e;
  --color-primary-weak: #d998c8;

  --color-secondary: #7fc8f8;
  --color-secondary-strong: #58afe8;
  --color-secondary-weak: #8ec8ee;

  --modal-color: #c86ab180;
}
