.theme-love {
  --color-primary: #dd466c;
  --color-primary-strong: #d6214e;
  --color-primary-weak: #d35978;

  --color-secondary: #6f3596;
  --color-secondary-strong: #6916a0;
  --color-secondary-weak: #8a56ac;

  --modal-color: #dd466c80;
}
