.theme-love {
  --color-primary: #c94a47;
  --color-primary-strong: #b93532;
  --color-primary-weak: #de7875;

  --color-secondary: #e85aad;
  --color-secondary-strong: #d93d96;
  --color-secondary-weak: #e79ac8;

  --modal-color: #c94a4780;
}
