.theme-reliability {
  --color-primary: #434753;
  --color-primary-strong: #2a2e38;
  --color-primary-weak: #5d6477;

  --color-secondary: #4a7f63;
  --color-secondary-strong: #2f8c60;
  --color-secondary-weak: #6d9d84;

  --modal-color: #43475380;
}
