.theme-sincerity {
  --color-primary: #42cf72;
  --color-primary-strong: #1fa24b;
  --color-primary-weak: #79d79a;

  --color-secondary: #7c7135;
  --color-secondary-strong: #4d451a;
  --color-secondary-weak: #a7994e;
}
