.theme-sincerity {
  --color-primary: #42cf72;
  --color-primary-strong: #1fa24b;
  --color-primary-weak: #79d79a;

  --color-secondary: #c86ab1;
  --color-secondary-strong: #b94d9e;
  --color-secondary-weak: #d998c8;

  --modal-color: #42cf7280;
}
