.digimon-equipments {
  .equipments {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;

    > div {
      display: flex;
      flex-flow: column;
      gap: 8px;

      padding: 8px;

      background-color: var(--color-primary);
      border-radius: 12px;

      .portrait {
        width: 24px;

        border: 2px solid var(--color-primary-strong);
        border-radius: 8px;
      }

      .text {
        font-size: 12px;
      }

      footer {
        .button {
          width: 100%;

          font-size: 12px;

          border-radius: 4px;
        }
      }
    }
  }
}
